<body>
    <!--Login Area-->
    <main>
        <div class="main-container container-fluid">
            <div class="banner-container">
                <div class="banner"></div>
            </div>
            <div class="wrapper">
                <!--Login form-->
                <div class="form-wrapper">
                    <h1 class="card-title">Đăng nhập</h1>
    
                    <div class="form-container">
                        <div class="form-inner">
                            <form [formGroup]="loginForm" autocomplete="off" novalidate
                                (ngSubmit)="loginUser(loginForm.value)">
                                <div class="field">
                                    <input type="text" id="username" formControlName="username" class="form-control"
                                        placeholder="Username..." />
                                </div>
                                <div class="field">
                                    <input type="password" id="password" formControlName="password" class="form-control"
                                        placeholder="Mật khẩu..." />
                                </div>
                                <div *ngIf="invalidLogin" class="alert alert-danger">Tên đăng nhập hoặc mật khẩu không
                                    khớp.</div>
                                <div class="pass-link">
                                    <a routerLink="/authentication/forgot-password">Quên mật khẩu?</a>
                                </div>
                                <div class="field btn">
                                    <div class="btn-layer"></div>
                                    <input type="submit" value="Đăng nhập">
                                </div>
                                <div class="signup-link">Chưa có tài khoản? <a
                                        routerLink="/authentication/register">Đăng ký ngay</a></div>
                                <div class="signup-link"><a routerLink="/index">Quay về trang chủ</a></div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--End Register Form-->
            </div>
        </div>

        <!--Dark mode button-->
        <div class="theme-switch-area">
            <div class="theme-icon-container dark-mode">
                <button id="theme-switch-btn" class="theme-btn"></button>
            </div>
        </div>
        <!--End dark mode button-->
    </main>
    <!--End Login Area-->
</body>