<body>
    <!--Login Area-->
    <main>
        <div class="main__container container-fluid">
            <div class="form__wrapper">
                <!--Login form-->
                <div class="form__container">
                    <h1 class="card-title">Đăng nhập</h1>

                    <form [formGroup]="loginForm" autocomplete="off" novalidate
                        (ngSubmit)="loginUser(loginForm.value)">
                        <div class="field">
                            <div class="form-field">
                                <input type="text" id="email" formControlName="email" class="form-control"
                                    placeholder="Email..." />
                            </div>
                            <div>
                                <em *ngIf="validateControl('email') && hasError('email', 'email')">*Vui lòng cung cấp email hợp lệ</em>
                                <em *ngIf="validateControl('email') && hasError('email', 'required')">*Vui lòng không để trống</em>
                            </div>
                        </div>
                        <div class="field">
                            <div class="form-field">
                                <input type="password" id="password" formControlName="password" class="form-control"
                                    placeholder="Mật khẩu..." />
                            </div>
                            <div>
                                <em *ngIf="validateControl('password') && hasError('password', 'required')">*Vui
                                    lòng không để trống</em>
                            </div>
                        </div>
                        <div *ngIf="invalidLogin" class="alert alert-danger">Tên đăng nhập hoặc mật khẩu không
                            khớp.</div>
                        
                        <div class="pass-link">
                            <a routerLink="/authentication/forgot-password">Quên mật khẩu?</a>
                        </div>
                        <div class="field btn">
                            <div class="btn-layer"></div>
                            <button type="submit" class="btn btn-info" [disabled]="!loginForm.valid || btnSubmitLocked">Đăng nhập</button>
                        </div>
                        <div class="signup-link">Chưa có tài khoản? <a
                                routerLink="/authentication/register">Đăng ký ngay</a></div>
                        <div class="signup-link"><a routerLink="/index">Quay về trang chủ</a></div>
                    </form>
                </div>
                <!--End Register Form-->
            </div>
        </div>
    </main>
    <!--End Login Area-->
</body>