<!--Top nav-->
<nav class="navbar-expand">
    <div id="nav_fixed-toggle" class="navbar-expand-collapsed">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul class="navbar-expand-list">
        <li class="navbar-expand-item">
            <a>
                <div class="navbar-expand-image">
                <img src="assets/images/bell.svg">
                </div>
            </a>
        </li>
        <li class="navbar-expand-item">
            <a>
                <div class="navbar-expand-image">
                    <img src="assets/images/mail.svg">
                </div>
            </a>
        </li>
        <li class="navbar-expand-item">
            <a>
                <div class="navbar-expand-info">
                    <p>Hua Hoang Thanh Bao</p>
                    <div class="navbar-expand-image">
                        <img src="assets/images/boy.svg">
                    </div>
                </div>
            </a>
        </li>
    </ul>
</nav>
<!--End top nav-->