<body>
    <!--Confirm Area-->
    <main>
        <div class="hero-container container-fluid">
            <div class="form">
                <!--Confirm form-->
                <div class="form-container">
                    <h1 class="form-title">Xác thực đăng ký</h1>

                    <div *ngIf="showSuccess" class="form-link">
                        Tài khoản của bạn đã được xác thực. Vui lòng 
                        <a routerLink="/authentication/login"> bấm vào đây để đăng nhập. 
                        </a>
                    </div>
                </div>
                <!--End Confirm Form-->
            </div>
        </div>
    </main>
    <!--End Confirm Area-->
</body>