.comment{
    padding: 0;
}

.btn-login-redirect{
    width: 135px;
    height: 40px;
    border-radius: 3px;
    background-image: linear-gradient(90deg, #2EA785, #5AD895);
    border: none;
    font-size: 15px;
    margin: 20px 0px 20px 0px;
    color: white;
}
