@import "/src/assets/styles/icon.scss";
@import "/src/assets/styles/func.scss";
@import "/src/assets/styles/var.scss";

.box-container {
    @include SetWidthHeight(100%, auto);
    @include Flex($isHorizontally: false, $isVertically: false, $isWrap: true);
    padding-bottom: 20px;

    .story-content-panel {
        width: 100%;
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 20px;

        .story-content-header {
            padding-bottom: 10px;
        }
    }
}


em{
    color: red;
    font-size: 15px;
}

.comment-alert{
    margin: 20px 0px 20px 0px;
}
