<body>
    <!--Reset Area-->
    <main>
        <div class="main-container container-fluid">
            <div class="banner-container">
                <div class="banner"></div>
            </div>
            <div class="wrapper">
                <!--Reset form-->
                <div class="form-wrapper">
                    <h1 class="card-title">Đặt lại mật khẩu</h1>

                    <div *ngIf="showError" class="alert alert-danger" role="alert">
                        <span [innerHTML]="errorMessage"></span>
                    </div>
                    <div *ngIf="showSuccess" class="alert alert-success" role="alert">
                        Mật khẩu đã được đặt lại thành công! Vui lòng <a class="redirect-link" routerLink="authentication/login"> nhấn vào đây để đăng nhập. </a>
                    </div>
    
                    <div class="form-container">
                        <div class="form-inner">
                            <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate (ngSubmit)="resetPassword(resetPasswordForm.value)">
                                <div class="field">
                                    <label for="password" class="col-form-label col-sm-2">Mật khẩu mới</label>
                                    <div class="form-field">
                                        <input type="password" id="password" formControlName="password" class="form-control" placeholder="Mật khẩu mới"/>
                                    </div>
                                    <div class="form-field">
                                        <em *ngIf="validateControl('password') && hasError('password', 'required')">*Vui lòng không để trống</em>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="confirm" class="col-form-label col-sm-2">Xác nhận mật khẩu mới</label>
                                    <div class="form-field">
                                        <input type="password" id="confirm" formControlName="confirm" class="form-control" placeholder="Xác nhận mật khẩu mới"/>
                                    </div>
                                    <div class="form-field">
                                        <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">*Vui lòng không để trống</em>
                                        <em *ngIf="hasError('confirm', 'mustMatch')">Mật khẩu xác nhận không khớp</em>
                                    </div>
                                </div>
                                <br>
                                <div class="field btn">
                                    <div class="btn-layer"></div>
                                    <button type="submit" class="btn btn-info" [disabled]="!resetPasswordForm.valid">Đặt lại mật khẩu</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--End Reset Form-->
            </div>
        </div>

        <!--Dark mode button-->
        <div class="theme-switch-area">
            <div class="theme-icon-container dark-mode">
                <button id="theme-switch-btn" class="theme-btn"></button>
            </div>
        </div>
        <!--End dark mode button-->
    </main>
    <!--End Reset Area-->
</body>