<!--Header Menu-->
<app-navbar [theLoaiJson]="jsonTheLoaiArr"></app-navbar>
<!--End Header Menu-->

<body>
    <main>
        <div class="main-container container-fluid">
            <div class="banner-container">
                <div class="banner"></div>
            </div>
            <div class="body-container">
                <div class="body-cover">

                    <!--Section bên trái-->
                    <div class="body-left-side right-padding">
                        <!--Danh sách truyện-->
                        <div class="body-box">
                            <div class="title-header">
                                <h2>Tài khoản</h2>
                            </div>
                            <div class="body-cover">
                                <div class="pc-tab">
                                    <input checked="checked" id="tab1" type="radio" name="pct" />
                                    <input id="tab2" type="radio" name="pct" />
                                    <input id="tab3" type="radio" name="pct" />
                                    <input id="tab4" type="radio" name="pct" />
                                    <input id="tab5" type="radio" name="pct" />
                                    <input id="tab6" type="radio" name="pct" />
                                    <div class="tab-col">
                                        <nav>
                                            <ul>
                                                <li class="tab1">
                                                    <label for="tab1">Thông tin tài khoản</label>
                                                </li>
                                                <li class="tab2">
                                                    <label for="tab2">Thông tin chung</label>
                                                </li>
                                                <li class="tab3">
                                                    <label for="tab3">Truyện theo dõi</label>
                                                </li>
                                                <li class="tab4">
                                                    <label for="tab4">Bình luận</label>
                                                </li>
                                                <li class="tab5">
                                                    <label for="tab5">Đổi mật khẩu</label>
                                                </li>
                                                <li class="tab6">
                                                    <label for="tab6">Đăng xuất</label>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <section class="tab-col">
                                        <div class="tab1">
                                            <h2>First</h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus
                                                itaque quidem minus nostrum, voluptatem accusamus aspernatur quia
                                                harum ratione, officia laudantium inventore autem doloribus atque
                                                labore numquam non. Hic, animi.</p>
                                        </div>
                                        <div class="tab2">
                                            <h2>Second</h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum
                                                nesciunt ipsum dolore error repellendus officiis aliquid a, vitae
                                                reprehenderit, accusantium vero, ad. Obcaecati numquam sapiente
                                                cupiditate. Praesentium eaque, quae error!</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                Perferendis, maiores.</p>
                                        </div>
                                        <div class="tab3">
                                            <h2>Third</h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio,
                                                nobis culpa rem, vitae earum aliquid.</p>
                                        </div>
                                        <div class="tab4">
                                            <h2>Fourth</h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio,
                                                nobis culpa rem, vitae earum aliquid.</p>
                                        </div>
                                        <div class="tab5">
                                            <h2>Fifth</h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio,
                                                nobis culpa rem, vitae earum aliquid.</p>
                                        </div>
                                        <div class="tab6">
                                            <button (click)="logoutClick()">Đăng xuất</button>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <!--End Danh sách truyện-->
                    </div>
                    <!--End Section bên trái-->


                    <!--Section bên phải (side-bar)-->
                    <div class="body-right-side left-padding">
                        <!--Rank List-->
                        <app-ranking [rankingJson]="mostViews"></app-ranking>
                        <!--End Rank List-->

                        <!--Comment-->
                        <app-comment-sidebar [binhLuanJson]="jsonBinhLuanArr"></app-comment-sidebar>
                        <!--End Comment-->
                    </div>
                    <!--End Side-bar-->
                </div>
            </div>
        </div>
        <!--Dark mode button-->
        <div class="theme-switch-area">
            <div class="theme-icon-container dark-mode">
                <button id="theme-switch-btn" class="theme-btn"></button>
            </div>
        </div>
        <!--End dark mode button-->
    </main>

    <!--Footer-->
    <app-footer></app-footer>
    <!--End Footer-->
</body>