$activeColor: #ffffff;
$unactiveColor: #eeeeee;
$unactiveHoverColor: #dddddd;

.pc-tab > input,
.pc-tab section > div {
	display: none;
}

#tab1:checked ~ section .tab1,
#tab2:checked ~ section .tab2,
#tab3:checked ~ section .tab3,
#tab4:checked ~ section .tab4,
#tab5:checked ~ section .tab5,
#tab6:checked ~ section .tab6 {
	display: block;
}

.form__container{
	background: #fff;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
	max-width: 100%;
	width: 100%;
}

.tab-col {
	width: 30%;

	@media (max-width: 799px) {
		width: 100%;
	}

	&:last-child {
		width: 70%;

		@media (max-width: 799px) {
			width: 100%;
		}
	}
}

.pc-tab {
	display: flex;
	flex-wrap: wrap;
	width: 100%;

	.tab-list {
		list-style: none;
		margin: 0;
		padding: 0;

		@media (max-width: 799px) {
			display: flex;
			flex-wrap: wrap;
		}

		.tab-item {
			@media (max-width: 799px) {
				width: 50%;
			}
			label {
				float: left;
				height: 100%;
				width: 100%;
				padding: 15px 25px;
				//border: 1px solid #ddd;
				border-bottom: 0;
				background: $unactiveColor;
				color: #444;
				line-height: 1.5;
				&:hover {
					background: $unactiveHoverColor;
				}
				&:active {
					background: $activeColor;
				}

				@media (max-width: 499px) {
					padding: 20px 20px;
				}
			}
			&:not(:last-child) label {
				border-right-width: 0;
			}
		}
	}
	section {
		clear: both;

		.tab-content {
			padding: 20px;
			width: 100%;
			border: 1px solid #ddd;
			background: #fff;
			line-height: 1.5em;
			letter-spacing: 0.3px;
			color: #444;

			h2 {
				margin: 0;
				letter-spacing: 1px;
				color: #34495e;
				padding-bottom: 20px;
			}
		}
	}
}

.logout-btn {
	height: 35px;
	width: 120px;
	border-radius: 5px;
	background: #fcae70;
	font-size: 17px;
	border: none;
}

.fol-list {
	max-height: 500px;
	overflow-y: auto;
	width: 100%;
	list-style: none;

	.fol-item {
		display: flex;
		width: 100%;

		.img {
			width: 80px;
			height: 80px;
			padding: 10px;
			object-fit: cover;
		}

		.fol-name {
			padding: 10px;
			width: calc(100% - 80px);
			font-size: 15px;
			line-height: 1.5;
		}
	}
}

.timeline-area {
	padding: 20px;
	overflow-y: auto;
	max-height: 400px;

	.timeline {
		width: 100%;
		position: relative;
		padding: 0;
		border: none;
		background: transparent;

		&::before {
			content: " ";
			position: absolute;
			top: 10px;
			//left: 85px;
			left: 5px;
			height: 100%;
			width: 4px;
			background-color: #e8ebee;
			border-radius: 10px;
		}

		.timeline-item {
			margin: 0 0 10px 0;
			position: relative;

			// .timeline-time {
			//     position: absolute;
			//     left: 0;
			//     top: 4px;
			//     font-size: 14px;
			//     font-weight: bold;
			//     color: #3f425f;
			// }

			.bounce-btn {
				height: 14px;
				width: 14px;
				position: absolute;
				top: 4px;
				//left: 80px;
				display: block;
				border-radius: 50%;

				&::after {
					content: " ";
					position: absolute;
					top: 50%;
					left: 50%;
					margin: -4px 0 0 -4px;
					height: 8px;
					width: 8px;
					background-color: white;
					border-radius: 50%;
				}
			}

			.timeline-txt {
				//margin-left: 120px;
				margin-left: 20px;
				color: #b5b5c3;
				line-height: 1.5;

				.timeline-title {
					font-size: 17px;
					font-weight: bold;
				}

				.timeline-sub {
					font-size: 15px;
				}

				.timeline-content {
					margin: 10px 0px 10px 0px;
					line-height: 1.5;
					font-size: 13px;
				}

				&.impor {
					color: black;
				}
			}
		}
	}
}

.slide-controls {
	.slide {
		height: 100%;
		width: 100%;
		color: #fff;
		font-size: 18px;
		font-weight: 500;
		text-align: center;
		line-height: 48px;
		cursor: pointer;
		z-index: 1;
		transition: all 0.6s ease;
	}
	label.signup {
		color: #000;
	}
	.slider-tab {
		position: absolute;
		height: 100%;
		width: 50%;
		left: 0;
		z-index: 0;
		border-radius: 5px;
		background: -webkit-linear-gradient(left, #75a86b, #b6e65e);
		transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}
}

//////
.img-form {
	padding: 20px 0px 20px 0px;

	.img-list {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		padding: 20px 0px 20px 0px;

		button {
			height: 120px;
			width: 120px;
			background: transparent;
			border: 1px solid whitesmoke;

			&:focus {
				background: #4ac78f;
			}

			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
	}

	.save-avatar-btn {
		height: 35px;
		width: 120px;
		background-color: #abce8f;
		border: none;
		border-radius: 5px;
		font-size: 13px;
	}
}
