<body>
    <main>
        <div class="hero container-fluid">
            <div class="hero-main">
                <div class="hero-banner img-fade"></div>
            </div>
            <div class="hero-container">
                <div class="hero-body">
                    <div class="hero-o">
                        <div class="hero-body-box">

                            <!--Section thông tin cơ bản của truyện-->
                            <div class="hero-container">
                                <div class="hero-o-item">
                                    <app-seleton-loader *ngIf="!truyen" Cwidth="100%" Cheight="300">
                                    </app-seleton-loader>
                                    <img *ngIf="truyen" 
                                        src="https://drive.google.com/uc?export=view&id={{truyen?.hinhAnh}}"
                                        alt="no image avaiable">
                                </div>
                                <div class="hero-o-item">
                                    <app-seleton-loader *ngIf="!truyen" 
                                                        Cwidth="100%" 
                                                        Cheight="20"
                                                        Cmargin="0 0 20px 0" circle="20px"></app-seleton-loader>

                                    <div *ngIf="truyen" class="hero-o-title">
                                        <h1>{{ truyen?.tenTruyen }}</h1>
                                    </div>

                                    <app-seleton-loader *ngIf="!truyen" 
                                                        Cwidth="100%" 
                                                        Cheight="20"
                                                        Cmargin="0 0 20px 0" 
                                                        circle="20px"></app-seleton-loader>

                                    <div *ngIf="truyen" class="hero-o-detail">
                                        <div class="hero-o-detail-txt">
                                            <p>Tác giả: <span>{{ truyen?.tacGia.tenTacGia }}</span></p>
                                        </div>
                                        <div class="hero-o-detail-txt">
                                            <p>Tình trạng：<span>Đang Tiến Hành</span></p>
                                        </div>
                                    </div>

                                    <app-seleton-loader *ngIf="!truyen" 
                                                        Cwidth="100%" 
                                                        Cheight="20"
                                                        Cmargin="0 0 20px 0" 
                                                        circle="20px"></app-seleton-loader>

                                    <div *ngIf="truyen" class="hero-o-detail">
                                        <div class="hero-o-detail-txt">
                                            <p>Lượt xem: <span>{{ tongLuotXem }}</span></p>
                                        </div>
                                        <div class="hero-o-detail-txt">
                                            <p>Thể loại:
                                                <span *ngFor="let p of phuLucs; let i = index">
                                                    <ng-conteiner *ngIf="!p.tinhTrang">
                                                        <span *ngIf="i > 0"> - </span>
                                                        <a>{{ p.theLoai.tenTheLoai }}</a>
                                                    </ng-conteiner>
                                                </span>
                                            </p>
                                        </div>
                                    </div>

                                    <app-seleton-loader *ngIf="!truyen" 
                                                        Cwidth="100%" 
                                                        Cheight="20"
                                                        Cmargin="0 0 20px 0" 
                                                        circle="20px"></app-seleton-loader>

                                    <div *ngIf="truyen" class="hero-o-detail">
                                        <div class="hero-o-detail-txt">
                                            <p>Lượt theo dõi: <span>{{ tongTheoDoi }}</span></p>
                                        </div>
                                        <div class="hero-o-detail-txt">
                                            <div>
                                                <span>Đánh giá: </span>
                                                <span> {{ tongSao }} / 5</span>
                                                <div class="rate">
                                                    <span [className]="tongSao >= 1 ? 'active': ''"></span>
                                                    <span [className]="tongSao >= 2 ? 'active': ''"></span>
                                                    <span [className]="tongSao >= 3 ? 'active': ''"></span>
                                                    <span [className]="tongSao >= 4 ? 'active': ''"></span>
                                                    <span [className]="tongSao == 5 ? 'active': ''"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hero-o-detail">
                                        <div class="hero-o-btn-group">
                                            <app-seleton-loader *ngIf="!truyen" 
                                                                Cwidth="50" 
                                                                Cheight="35"
                                                                circle="20px" 
                                                                Cmargin="5px 0 5px 20px"></app-seleton-loader>

                                            <button *ngIf="truyen" class="hero-o-btn-item" (click)="addFollowing()">Theo Dõi</button>

                                            <app-seleton-loader *ngIf="!truyen" 
                                                                Cwidth="100" 
                                                                Cheight="35"
                                                                circle="20px" 
                                                                Cmargin="5px 0 5px 20px"></app-seleton-loader>

                                            <button *ngIf="truyen" 
                                                    class="hero-o-btn-reading hero-o-btn-item"
                                                    (click)="this.historyManagement.addToHistory(truyen?.truyenID, truyen?.tenTruyen,
                                                truyen?.chuongs[0].chuongID, truyen?.chuongs[0].tenChuong, truyen?.hinhAnh)">Đọc từ đầu</button>
                                                
                                            <app-seleton-loader *ngIf="!truyen" 
                                                                Cwidth="100" 
                                                                Cheight="35"
                                                                circle="20px" 
                                                                Cmargin="5px 0 5px 20px"></app-seleton-loader>

                                            <button *ngIf="truyen" 
                                                    class="hero-o-btn-reading hero-o-btn-item"
                                                    (click)="this.historyManagement.addToHistory(truyen?.truyenID, truyeboxxnDetailJson?.tenTruyen,
                                                truyen?.chuongs.slice(-1)[0].chuongID, truyen?.chuongs.slice(-1)[0].tenChuong, truyen?.hinhAnh)">
                                                Đọc mới nhất</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End section thông tin cơ bản của truyện-->

                            <!--Section nội dung truyện-->
                            <div class="hero-o-section">
                                <div class="hero-o-header">
                                    <h2>Nội Dung</h2>
                                </div>
                                <hr>
                                <div class="hero-o-content">
                                    <div class="hero-o-content-short">
                                        <p class="hero-o-content-excerpt excerpt-hidden" [innerHTML]="truyen?.moTa">
                                        </p>
                                    </div>
                                    <a role="button" class="hero-o-content-show-more">
                                        <span id="expand-text">Xem thêm</span>
                                        <!-- <i class="fa fa-angle-right"></i> -->
                                    </a>
                                </div>
                            </div>
                            <!--End section mô tả nội dung truyện-->

                            <!--Section danh sách chương-->
                            <div class="hero-o-section">
                                <div class="hero-o-header">
                                    <h2>Danh sách chương</h2>
                                </div>
                                <hr>
                                <div class="chapter">
                                    <div class="chapter-header">
                                        <div class="chapter-heading">
                                            <p>Số chương</p>
                                        </div>
                                        <div class="chapter-heading">
                                            <p>Cập nhật</p>
                                        </div>
                                        <div class="chapter-heading">
                                            <p>Lượt xem</p>
                                        </div>
                                    </div>
                                    <ul id="chapter-list" class="chapter-list">
                                        <li *ngFor="let chuong of truyen?.chuongs">
                                            <ng-container *ngIf="chuong.trangThai == 1">
                                                <div class="chapter-item">
                                                    <p class="chapter-txt">
                                                        <a class="chapter-link" (click)="postLuotXem(chuong)">
                                                            {{chuong.tenChuong }}
                                                        </a>
                                                    </p>
                                                    <p class="chapter-txt">{{ chuong.thoiGianCapNhat  | dateAgo: chuong.thoiGianCapNhat }}</p>
                                                    <p class="chapter-txt">{{ chuong.luotXem }}</p>
                                                </div>
                                            </ng-container>
                                        </li>
                                    </ul>
                                    <div id="expand" class="expand">
                                        <button id="expand-btn" class="expand-btn">Xem thêm</button>
                                    </div>
                                </div>
                            </div>
                            <!--End section danh sách chương-->

                            <!--Section Bình luận-->
                            <app-comment-list [binhLuans]="binhLuans" [truyen]="truyen"
                                [isDetail]="true"></app-comment-list>
                            <!--End section bình luận-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>