<body>
  <main>
    <div class="main__container container-fluid">
      <div class="banner__container">
        <div class="banner"></div>
      </div>
      <div class="body__container">
        <div class="body__cover">

          <!--Section bên trái-->
          <div class="body__cover--left right-padding">
            <!--Danh sách truyện-->
            <app-story-list [truyenJson]="truyenTheoDanhMucArr" [headingTitle]="title" (reload)="refreshFetchList($event)"></app-story-list>
            <!--End Danh sách truyện-->
          </div>
          <!--End Section bên trái-->


          <!--Section bên phải (side-bar)-->
          <div class="body__cover--right left-padding">
            <!--Rank List-->
            <app-ranking [rankingJson]="mostViews"></app-ranking>
            <!--End Rank List-->

            <!--Comment-->
            <app-comment-sidebar [binhLuanJson]="jsonBinhLuanArr"></app-comment-sidebar>
            <!--End Comment-->
          </div>
          <!--End Side-bar-->
        </div>
      </div>
    </div>
  </main>
</body>
