<body>
    <!--Login Area-->
    <main>
        <div class="main-container container-fluid">
            <div class="banner-container">
                <div class="banner"></div>
            </div>
            <div class="wrapper">
                <!--Login form-->
                <div class="form-wrapper">
                    <h1 class="card-title">Quên mật khẩu</h1>

                    <div class="error alert alert-danger" *ngIf="errorMessage" role="alert">{{ errorMessage.error }}</div>

                    <div *ngIf="showSuccess" class="alert alert-success" role="alert">
                        {{successMessage}}
                    </div>
    
                    <div class="form-container">
                        <div class="form-inner">
                            <form [formGroup]="forgotPasswordForm" autocomplete="off" novalidate (ngSubmit)="forgotPassword(forgotPasswordForm.value)">
                                <div class="field">
                                    <label for="email" class="col-form-label col-sm-2">Email:</label>
                                    <div class="form-field">
                                        <input type="text" id="email" formControlName="email" class="form-control" placeholder="Email của bạn..."/>
                                    </div>
                                    <div class="form-field">
                                        <em *ngIf="validateControl('email') && hasError('email', 'email')">*Vui lòng cung cấp email hợp lệ</em>
                                        <em *ngIf="validateControl('email') && hasError('email', 'required')">*Vui lòng không để trống</em>
                                    </div>
                                </div>
                                <br>
                                <div class="field btn">
                                    <div class="btn-layer"></div>
                                    <button type="submit" class="btn btn-info" [disabled]="!forgotPasswordForm.valid || btnSubmitLocked">Gửi mail xác thực</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--End Register Form-->
            </div>
        </div>
    </main>
    <!--End Login Area-->
</body>