<body>
    <div class="container-fluid">
        <!--Side Bar menu-->
        <app-admin-side-navbar></app-admin-side-navbar>
        <!--End Side Bar Menu-->

        <!--Content Container-->
        <div id="page-wrapper" class="page__content-wrapper">
            <div class="page__content-container">
                <div class="container-fluid">
                    <app-admin-top-navbar></app-admin-top-navbar>

                    <div class="header-title">
                        <h1>Quản lí phân quyền</h1>
                        <button id="add-btn" class="download-report-btn">
                            <img src="assets/images/plus.svg">
                            Thêm mới
                        </button>
                    </div>
                    <!--Table Container-->
                    <div class="table">
                        <div class="table-wrapper">
                            <div class="table-header">
                                <div class="table-col">
                                    <h5>Danh Sách User</h5>
                                </div>
                                <div class="table-col">
                                    <p>Tìm kiếm:</p>
                                    <input placeholder="Tìm kiếm">
                                </div>
                            </div>
                            <div class="table-area">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Username</th>
                                            <th>Quyền</th>
                                            <th>Sửa</th>
                                            <th>Xóa</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of users">
                                            <td>{{ data.username }}</td>
                                            <td>{{ data.quyen }}</td>
                                            <td>
                                                <button class="update-btn">Sửa</button>
                                            </td>
                                            <td>
                                                <button class="update-btn">Xóa</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--End Table Container-->
                </div>
            </div>
        </div>
        <!--End Content Container-->
    </div>
</body>