<body class="bg-purple">

    <div class="stars">
        <div class="central-body">
            <img class="image-404" src="./assets/images/404.svg" width="300px">
            <h1>Rất tiếc, chúng mình không tìm thấy trang bạn yêu cầu!</h1>
            <a href="/" class="btn-go-home">Quay về trang chủ</a>
        </div>
        <div class="objects">
            <img class="object_rocket" src="./assets/images/rocket.svg" width="40px">
            <div class="earth-moon">
                <img class="object_earth" src="./assets/images/earth.svg" width="100px">
                <img class="object_moon" src="./assets/images/moon-404.svg" width="80px">
            </div>
            <div class="box_astronaut">
                <img class="object_astronaut" src="./assets/images/astronaut.svg" width="140px">
            </div>
        </div>
        <div class="glowing_stars">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>

        </div>
    </div>
</body>