<body>

    <main>
        <div class="main__container container-fluid">
            <div class="body__container">
                <div class="body__cover">

                    <!--Phần Body chứa ảnh-->
                    <div class="body__box">
                        <div class="body__box--header">
                            <div class="box__header--item">
                                <h1>{{chuongJson?.truyen.tenTruyen}}</h1>
                            </div>
                            <div class="box__header--item">
                                <p>{{chuongJson?.truyen.tenChuong}}</p>
                            </div>
                            <div class="box__header--item">
                                <p>Cập nhật lúc: <span>{{ chuongJson?.thoiGianCapNhat }}</span></p>
                            </div>
                            <div class="nav__menu">
                                <ul id="nav__menu--header" class="nav__menu--list">
                                    <li class="nav__menu-item">
                                        <a href="index">
                                            <div class="nav__menu-item-box">
                                                <div class="nav__menu-item-icon">
                                                    <img loading="lazy" data-src="assets/images/home.svg"
                                                        alt="no image avaiable">
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav__menu-item">
                                        <a href="story-detail/{{chuongJson?.truyen.truyenID}}">
                                            <div class="nav__menu-item-box">
                                                <div class="nav__menu-item-icon">
                                                    <img loading="lazy" data-src="assets/images/list.svg"
                                                        alt="no image avaiable">
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav__menu-item">
                                        <a href="#">
                                            <div class="nav__menu-item-box">
                                                <div class="nav__menu-item-icon">
                                                    <img loading="lazy" data-src="assets/images/heart.svg"
                                                        alt="no image avaiable">
                                                </div>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="nav__menu-item"></li>

                                    <li class="nav__menu-item">
                                        <a *ngIf="!first" (click)="redirectToAnotherChap(false)">
                                            <div class="nav__menu-item-box">
                                                <div class="nav__menu-item-icon">
                                                    <img loading="lazy" data-src="assets/images/left-arrow.svg"
                                                        alt="no image avaiable">
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav__menu-item">
                                        <div class="nav__menu-select-box">
                                            <select (change)="selectedChange($event.target.value)">
                                                <option *ngFor="let chuong of truyenJson?.chuongs"
                                                    [attr.selected]="chuong?.chuongID == chuongJson?.chuongID ? true: null"
                                                    [attr.value]="chuong?.chuongID">
                                                    {{ chuong.tenChuong }}
                                                </option>
                                            </select>
                                        </div>
                                    </li>
                                    <li class="nav__menu-item">
                                        <a *ngIf="!last" (click)="redirectToAnotherChap(true)">
                                            <div class="nav__menu-item-box">
                                                <div class="nav__menu-item-icon">
                                                    <img loading="lazy" data-src="assets/images/right-arrow.svg"
                                                        alt="no image avaiable">
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--Image render list-->
                        <ul id="image__list" class="image__list">
                            <li class="image__list--item" *ngFor="let noidung of chuongJson?.noiDungChuongs">
                                <img loading="lazy"
                                    data-src="https://drive.google.com/uc?export=view&id={{ noidung.hinhAnh }}"
                                    alt="noidung.hinhAnh">
                            </li>
                        </ul>
                        <!--End image render list-->
                    </div>
                    <!--End Body chứa ảnh-->

                    <div class="body__box">
                        <!--Section Bình luận-->
                        <app-comment-list [jsonBinhLuan]="binhLuanJson" [jsonChuong]="chuongJson" [isDetail]="false">
                        </app-comment-list>
                        <!--End section bình luận-->
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>