<body>

    <main>
        <div class="hero container-fluid">
            <div class="hero-container">
                <div class="hero-body">

                    <!--Phần Body chứa ảnh-->
                    <div class="hero-body-box">
                        <div class="hero-body-box-header">
                            <div class="hero-body-box-item">
                                <h1>{{chuong?.truyen.tenTruyen}}</h1>
                            </div>
                            <div class="hero-body-box-item">
                                <p>{{chuong?.truyen.tenChuong}}</p>
                            </div>
                            <div class="hero-body-box-item">
                                <p>Thời gian cập nhật: <span>{{ chuong?.thoiGianCapNhat | dateAgo: chuong?.thoiGianCapNhat}}</span></p>
                            </div>
                            <div class="nav-menu">
                                <app-seleton-loader *ngIf="!truyen?.chuongs" 
                                                    Cheight="30" 
                                                    Cwidth="100%"></app-seleton-loader>

                                <ul *ngIf="truyen?.chuongs" id="nav-menu-header" class="nav-menu-list">
                                    {{scrollMenu()}}
                                    <li class="nav-menu-item">
                                        <a routerLink="/index">
                                            <div class="nav-menu-item-box">
                                                <div class="nav-menu-item-icon">
                                                    <img src="assets/images/home.svg"
                                                        alt="no image avaiable">
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-menu-item">
                                        <a routerLink="/details/story-detail/{{chuong?.truyen.truyenID}}">
                                            <div class="nav-menu-item-box">
                                                <div class="nav-menu-item-icon">
                                                    <img src="assets/images/list.svg"
                                                        alt="no image avaiable">
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-menu-item">
                                        <a routerLink="#">
                                            <div class="nav-menu-item-box">
                                                <div class="nav-menu-item-icon">
                                                    <img src="assets/images/heart.svg"
                                                        alt="no image avaiable">
                                                </div>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="nav-menu-item"></li>

                                    <li class="nav-menu-item">
                                        <a *ngIf="!first" (click)="goBackChap()">
                                            <div class="nav-menu-item-box">
                                                <div class="nav-menu-item-icon">
                                                    <img src="assets/images/left-arrow.svg"
                                                        alt="no image avaiable">
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-menu-item">
                                        <div class="nav-menu-select-box">
                                            <select (change)="selectedChange($event.target.value)">
                                                <option *ngFor="let c of truyen?.chuongs"
                                                    [selected]="c?.chuongID == truyen?.chuongs[currentChapIndex]?.chuongID ? true: null"
                                                    [value]="c?.chuongID">
                                                    {{ c.tenChuong }}
                                                </option>
                                            </select>
                                        </div>
                                    </li>
                                    <li class="nav-menu-item">
                                        <a *ngIf="!last" (click)="goContinousChap()">
                                            <div class="nav-menu-item-box">
                                                <div class="nav-menu-item-icon">
                                                    <img src="assets/images/right-arrow.svg"
                                                        alt="no image avaiable">
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--Image render list-->
                        <ul id="image-list">
                            <li *ngFor="let noidung of chuong?.noiDungChuongs">
                                <img *ngIf="noidung.tinhTrang != 1" src="https://drive.google.com/uc?export=view&id={{ noidung.hinhAnh }}"
                                    alt="noidung.hinhAnh">
                            </li>
                        </ul>
                        <!--End image render list-->
                    </div>
                    <!--End Body chứa ảnh-->

                    <div class="hero-body-box">
                        <!--Section Bình luận-->
                        <app-comment-list [binhLuans]="binhLuans" [chuong]="chuong" [isDetail]="false">
                        </app-comment-list>
                        <!--End section bình luận-->
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>