<body>
    <div class="container-fluid">
        <!--Side Bar menu-->
        <app-admin-side-navbar [currentTabName]="'truyen'"></app-admin-side-navbar>
        <!--End Side Bar Menu-->

        <!--Content Container-->
        <div id="page-wrapper" class="page-content">
            <div class="page-content-container">
                <div class="container-fluid">
                    <app-admin-top-navbar></app-admin-top-navbar>

                    <div class="header-title">
                        <h1>Quản lý truyện</h1>
                        <button id="add-btn" class="download-report-btn" (click)="openModel('modal-truyen')">
                            <img src="assets/images/plus.svg">
                            Thêm mới
                        </button>
                    </div>
                    <!--Table Container-->
                    <div class="table">
                        <div class="table-header">
                            <div class="table-col">
                                <h5>Danh Sách Truyện</h5>
                            </div>
                            <div class="table-col">
                                <p>Tìm kiếm:</p>
                                <input placeholder="Tìm kiếm" #search (input)="filter(search.value)">
                            </div>
                        </div>
                        <div class="table-wrapper">
                            <div class="table-area">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Ảnh</th>
                                            <th>Tên Truyện</th>
                                            <th>QL hình ảnh của chương</th>
                                            <th>QL Chương</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="!searchResult">
                                        <tr *ngFor="let data of truyens">
                                            <td>
                                                <div class="image-box">
                                                    <img *ngIf="truyens" loading="lazy"
                                                        data-src="https://drive.google.com/uc?export=view&id={{ data?.hinhAnh }}"
                                                        alt="image not available">
                                                </div>
                                            </td>
                                            <td>{{ data.tenTruyen }}</td>
                                            <td>
                                                <button class="btn update-btn"
                                                    (click)="openModelWithID(data.truyenID, 'modal-update')">QL hình ảnh của chương</button>
                                            </td>
                                            <td>
                                                <button class="btn control-btn"
                                                    (click)="openModelWithID(data.truyenID, 'modal-chuong')">QL
                                                    Chương</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="searchResult">
                                        <tr *ngFor="let data of searchResult">
                                            <td>
                                                <div class="image-box">
                                                    <img *ngIf="truyens" loading="lazy"
                                                        data-src="https://drive.google.com/uc?export=view&id={{ data?.hinhAnh }}"
                                                        alt="image not available">
                                                </div>
                                            </td>
                                            <td>{{ data.tenTruyen }}</td>
                                            <td>
                                                <button class="btn update-btn"
                                                    (click)="openModelWithID(data.truyenID, 'modal-update')">Sửa</button>
                                            </td>
                                            <td>
                                                <button class="btn control-btn"
                                                    (click)="openModelWithID(data.truyenID, 'modal-chuong')">QL
                                                    Chương</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--End Table Container-->
                </div>
            </div>
        </div>
        <!--End Content Container-->
    </div>

    <div id="modal-truyen" class="modal hide">
        <div class="modal-main">
            <button class="btn modal-close-btn" (click)="closeModel('modal-truyen')">X</button>
            
            <button (click)="googleSignInProcess()">Đăng nhập google</button>
            <br>
            <button (click)="loadTruyenFolderData()">Load thư viện ảnh</button>

            <form [formGroup]="addForm" autocomplete="off" novalidate (ngSubmit)="addTruyen(addForm.value)">
                <div class="modal-body">
                    <input type="text" formControlName="tenTruyen" class="modal-input form-control"
                        placeholder="Tên truyện...">
                        <br>
                    <input type="text" formControlName="moTa" class="modal-input form-control" placeholder="Mô tả...">
                    <br>
                    <select name="" formControlName="tacGia" id="" class="modal-select">
                        <option value="{{ tacGia.tacGiaID }}" class="modal-option" *ngFor="let tacGia of tacGias">{{
                            tacGia.tenTacGia }}</option>
                    </select>
                    <br>
                    <button class="btn modal-submit-btn">Thêm mới</button>
                </div>
            </form>

            <div class="modal-chosen">
                <h2>Tìm kiếm hình ảnh</h2>
                <input type="text" #urlInput (input)="chooseImage(urlInput.value)">
                <h2>Hình ảnh bạn đang chọn</h2>
                <img class="modal-image" src="https://drive.google.com/uc?export=view&id={{ hinhAnhChosen }}">
            </div>
            <br>
            <hr>
            <h2>Thư viện hình ảnh</h2>
            <ul class="modal-list" *ngIf="danhSachHinhAnhTruyens">
                <li class="modal-item" *ngFor="let img of danhSachHinhAnhTruyens">
                    <img class="modal-image" src="https://drive.google.com/uc?export=view&id={{ img.id }}"
                        (click)="chooseImage(img.id)">
                </li>
            </ul>
        </div>
    </div>

    <div id="modal-chuong" class="modal hide">
        <div class="modal-main">
            <button class="btn modal-close-btn" (click)="closeModel('modal-chuong')">X</button>

            <button (click)="googleSignInProcess()">Đăng nhập google</button>

            <h2>Danh sách chương</h2>
            <ul class="modal-list-normal">
                <li class="modal-item" *ngFor="let t of currentTruyen?.chuongs">{{ t.tenChuong }}</li>
            </ul>

            <br>

            <div class="modal-body">
                <form [formGroup]="addChuongForm" autocomplete="off" novalidate
                    (ngSubmit)="addDanhSachChuong(addChuongForm.value)">

                    <input type="text" class="modal-input" formControlName="tenChuong" placeholder="tên chương...">
                    <br>
                    <input type="text" class="modal-input" formControlName="folderID" placeholder="folder id...">

                    <br>
                    <button>Thêm mới chương và thư mục hình ảnh</button>
                </form>
            </div>
        </div>
    </div>


    <div id="modal-update" class="modal hide">
        <div class="modal-main">
            <button class="btn modal-close-btn" (click)="closeModel('modal-update')">X</button>

            <h2>Danh sách chương</h2>
            <div class="modal-area">
                <div class="modal-col">
                    <ul class="modal-list">
                        <li *ngFor="let t of currentTruyen?.chuongs">
                            <br>
                            <p>ChuongID: <span>{{ t.chuongID }}</span></p>
                            <br>
                            <p>Tên chương: <span>{{ t.tenChuong }}</span></p>
                            <br>
                            <button (click)="showHinhAnh(t.chuongID)">Show hình ảnh</button>
                        </li>
                    </ul>
                </div>
                <div class="modal-col">
                    <div class="modal-no-image" *ngIf="noImageToShow">
                        <p>Chương này chưa có bất kỳ hình ảnh nào</p>
                    </div>
                    <ul class="modal-list space-between">
                        <li class="modal-item" *ngFor="let nd of noiDungChuongs">
                            <img class="modal-image" src="https://drive.google.com/uc?export=view&id={{ nd.hinhAnh }}">
                            <div [className]="nd.tinhTrang == true ? 'modal-overlay': 'modal-overlay hide'"
                                (click)="chooseHinhAnhForUpdate(nd)">
                                {{nd.tinhTrang}}
                                <p *ngIf="nd.tinhTrang == false">Ẩn hình ảnh này</p>
                                <p *ngIf="nd.tinhTrang == true">Bỏ ẩn</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <br>
            <h2>Bạn có muốn cập nhật lại nội dung chương?</h2>
            <button (click)="updateAllNoiDungChuong()">Cập nhật lại toàn bộ nội dung chương</button>
        </div>
    </div>
</body>