<body>
    <div class="container-fluid">
        <!--Side Bar menu-->
        <app-admin-side-navbar [currentTabName]="'truyen'"></app-admin-side-navbar>
        <!--End Side Bar Menu-->

        <!--Content Container-->
        <div id="page-wrapper" class="page-content">
            <div class="page-content-container">
                <div class="container-fluid">
                    <app-admin-top-navbar></app-admin-top-navbar>

                    <div class="header-title">
                        <h1>Quản lý truyện</h1>
                        <button id="add-btn" class="download-report-btn" (click)="openModal('modal-truyen')">
                            <img src="assets/images/plus.svg">
                            Thêm mới
                        </button>
                    </div>
                    <!--Table Container-->
                    <div class="table">
                        <div class="table-header">
                            <div class="table-col">
                                <h5>Danh Sách Truyện</h5>
                            </div>
                            <div class="table-col">
                                <p>Tìm kiếm:</p>
                                <input placeholder="Tìm kiếm" #search (input)="filter(search.value)">
                            </div>
                        </div>
                        <div class="table-wrapper">
                            <div class="table-area">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Ảnh</th>
                                            <th>Tên Truyện</th>
                                            <th>Phê duyệt</th>
                                            <th>Sửa truyện</th>
                                            <th>QL phụ lục</th>
                                            <th>QL hình ảnh của chương</th>
                                            <th>QL Chương</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="!searchResult">
                                        <tr *ngFor="let data of truyens">
                                            <td>
                                                <div class="image-box">
                                                    <img *ngIf="truyens" loading="lazy"
                                                        data-src="https://drive.google.com/uc?export=view&id={{ data?.hinhAnh }}"
                                                        alt="image not available">
                                                </div>
                                            </td>
                                            <td>{{ data.tenTruyen }}</td>
                                            <td>
                                                <p *ngIf="data.trangThai == 0">
                                                    <button (click)="pheDuyetTruyen(data)"
                                                        [disabled]="btnSubmitLocked"
                                                        class="admin-btn-edit">Phê duyệt</button>
                                                </p>
                                                <p *ngIf="data.trangThai == 1">Đã duyệt</p>
                                            </td>
                                            <td>
                                                <button (click)="openModalWithID(data.truyenID, 'modal-info')" 
                                                class="admin-btn-normal">Sửa</button>
                                            </td>
                                            <td>
                                                <button class="btn update-btn"
                                                    (click)="openModalWithID(data.truyenID, 'modal-phuluc')" 
                                                    class="admin-btn-normal">QL phụ
                                                    lục</button>
                                            </td>
                                            <td>
                                                <button class="btn update-btn"
                                                    (click)="openModalWithID(data.truyenID, 'modal-update')"
                                                    class="admin-btn-normal">QL hình ảnh
                                                    của chương</button>
                                            </td>
                                            <td>
                                                <button class="btn control-btn"
                                                    (click)="openModalWithID(data.truyenID, 'modal-chuong')"
                                                    class="admin-btn-normal">QL
                                                    Chương</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="searchResult">
                                        <tr *ngFor="let data of searchResult">
                                            <td>
                                                <div class="image-box">
                                                    <img *ngIf="truyens" loading="lazy"
                                                        data-src="https://drive.google.com/uc?export=view&id={{ data?.hinhAnh }}"
                                                        alt="image not available">
                                                </div>
                                            </td>
                                            <td>{{ data.tenTruyen }}</td>
                                            <td>
                                                <p *ngIf="data.trangThai == 0">
                                                    <button (click)="pheDuyetTruyen(data)"
                                                        [disabled]="btnSubmitLocked"
                                                        class="admin-btn-edit">Phê duyệt</button>
                                                </p>
                                                <p *ngIf="data.trangThai == 1">Đã duyệt</p>
                                            </td>
                                            <td>
                                                <button (click)="openModalWithID(data.truyenID, 'modal-info')" 
                                                class="admin-btn-normal">Sửa</button>
                                            </td>
                                            <td>
                                                <button class="btn update-btn"
                                                    (click)="openModalWithID(data.truyenID, 'modal-phuluc')" 
                                                    class="admin-btn-normal">QL phụ
                                                    lục</button>
                                            </td>
                                            <td>
                                                <button class="btn update-btn"
                                                    (click)="openModalWithID(data.truyenID, 'modal-update')"
                                                    class="admin-btn-normal">QL hình ảnh
                                                    của chương</button>
                                            </td>
                                            <td>
                                                <button class="btn control-btn"
                                                    (click)="openModalWithID(data.truyenID, 'modal-chuong')"
                                                    class="admin-btn-normal">QL
                                                    Chương</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--End Table Container-->
                </div>
            </div>
        </div>
        <!--End Content Container-->
    </div>

    <div id="modal-info" class="modal hide">
        <div class="modal-main">
            <button class="btn modal-close-btn" (click)="closeModal('modal-info')">X</button>

            <h2>Cập nhật thông tin truyện</h2>
            <button (click)="googleSignInProcess()" class="admin-btn-normal">Đăng nhập google</button>
            <br>
            <button (click)="loadTruyenFolderData()" class="admin-btn-normal">Load thư viện ảnh</button>
            
            <h2>Tìm kiếm hình ảnh</h2>
            <div class="modal-chosen">
                <input type="text" #urlInput (input)="chooseImage(urlInput.value)" placeholder="Nhập image id (nếu có)...">
                <br>
                <h2>Hình ảnh bạn đang chọn</h2>
                <img class="modal-image" src="https://drive.google.com/uc?export=view&id={{ hinhAnhChosen }}">
            </div>

            <form [formGroup]="addForm" autocomplete="off" novalidate (ngSubmit)="updateTruyen(addForm.value, 'modal-info')">
                <p>Tên truyện:</p>
                <br>
                <input type="text" formControlName="tenTruyen" class="modal-input form-control" [value]="getTruyenName(currentTruyenID)">
                <br>
                <p>Tác giả:</p>
                <br>
                <select formControlName="tacGia" class="modal-select">
                    <option value="{{ tacGia.tacGiaID }}" 
                            class="modal-option" 
                            *ngFor="let tacGia of tacGias"
                            [selected]="tacGia.tenTacGia == currentTruyen?.tacGia?.tenTacGia">{{
                        tacGia.tenTacGia }}</option>
                </select>
                <br>
                <p>Mô tả:</p>
                <br>
                <textarea formControlName="moTa" class="modal-input form-control" [value]="getMoTa(currentTruyenID)"></textarea>
                <br>
                <br>
                <button [disabled]="btnSubmitLocked" class="admin-btn-orange">Cập nhật thông tin truyện</button>
            </form>
            <hr>
            <h2>Thư viện hình ảnh</h2>
            <br>
            <ul class="modal-list" *ngIf="danhSachHinhAnhTruyens">
                <li class="modal-item" *ngFor="let img of danhSachHinhAnhTruyens">
                    <img class="modal-image" src="https://drive.google.com/uc?export=view&id={{ img.id }}"
                        (click)="chooseImage(img.id)">
                </li>
            </ul>
        </div>
    </div>


    <div id="modal-phuluc" class="modal hide">
        <div class="modal-main">
            <button class="btn modal-close-btn" (click)="closeModal('modal-phuluc')">X</button>

            <h2>Danh sách phụ lục</h2>
            <div class="modal-area">
                <div class="modal-col">
                    <ul class="modal-list-auto" *ngIf="phuLucsOfTruyen && theLoais">
                        <li class="modal-item" *ngFor="let t of theLoais">
                            <input type="checkbox" value="{{t.theLoaiID}}" class="phu-luc-checkbox"
                                [checked]="checkTheLoaiID(t.theLoaiID)" [disabled]="btnSubmitLocked">
                            {{ t.tenTheLoai }}
                        </li>
                    </ul>
                </div>
                <!-- <div class="modal-col">
                    <input placeholder="chuỗi phụ lục...">
                </div> -->
            </div>
            <hr>
            <br>
            <h2>Bạn có muốn cập nhật lại danh sách phụ lục</h2>
            <button (click)="updateAllPhulucs('modal-phuluc')" class="admin-btn-orange">Cập nhật lại toàn bộ phụ lục của truyện</button>
        </div>
    </div>

    <div id="modal-truyen" class="modal hide">
        <div class="modal-main">
            <button class="btn modal-close-btn" (click)="closeModal('modal-truyen')">X</button>

            <button (click)="googleSignInProcess()"  class="admin-btn-normal">Đăng nhập google</button>
            <br>
            <button (click)="loadTruyenFolderData()"  class="admin-btn-normal">Load thư viện ảnh</button>

            <form [formGroup]="addForm" autocomplete="off" novalidate (ngSubmit)="addTruyen(addForm.value, 'modal-truyen')">
                <div class="modal-body">
                    <p>Tên truyện:</p>
                    <br>
                    <input type="text" formControlName="tenTruyen" class="modal-input form-control"
                        placeholder="Tên truyện...">
                    <br>
                    <p>Mô tả:</p>
                    <br>
                    <input type="text" formControlName="moTa" class="modal-input form-control" placeholder="Mô tả...">
                    <br>
                    <p>Tác giả:</p>
                    <br>
                    <select formControlName="tacGia" class="modal-select">
                        <option value="{{ tacGia.tacGiaID }}" class="modal-option" *ngFor="let tacGia of tacGias">{{
                            tacGia.tenTacGia }}</option>
                    </select>
                    <br>
                    <button class="btn modal-submit-btn" [disabled]="btnSubmitLocked" class="admin-btn-orange">Thêm mới</button>
                </div>
            </form>

            <div class="modal-chosen">
                <h2>Tìm kiếm hình ảnh</h2>
                <input type="text" #urlInput (input)="chooseImage(urlInput.value)" placeholder="Nhập image id (nếu có)...">
                <h2>Hình ảnh bạn đang chọn</h2>
                <img class="modal-image" src="https://drive.google.com/uc?export=view&id={{ hinhAnhChosen }}">
            </div>
            <br>
            <hr>
            <h2>Thư viện hình ảnh</h2>
            <br>
            <ul class="modal-list" *ngIf="danhSachHinhAnhTruyens">
                <li class="modal-item" *ngFor="let img of danhSachHinhAnhTruyens">
                    <img class="modal-image" src="https://drive.google.com/uc?export=view&id={{ img.id }}"
                        (click)="chooseImage(img.id)">
                </li>
            </ul>
        </div>
    </div>

    <div id="modal-chuong" class="modal hide">
        <div class="modal-main">
            <button class="btn modal-close-btn" (click)="closeModal('modal-chuong')">X</button>


            <h2>Danh sách chương</h2>
            <div class="modal-area">
                <div class="modal-col">

                    <button (click)="googleSignInProcess()">Đăng nhập google</button>

                    <ul class="modal-list-auto">
                        <li class="modal-item" *ngFor="let t of currentTruyen?.chuongs">
                            {{ t.tenChuong }}

                            <button *ngIf="t.trangThai == 0" (click)="pheDuyetChuong(t)" class="admin-btn-green">Duyệt chương</button>
                            <button *ngIf="t.trangThai == 1" (click)="disableChuong(t)" class="admin-btn-update">Chuyển về bản nháp</button>
                        </li>
                    </ul>

                </div>
                <div class="modal-col">
                    <form [formGroup]="addChuongForm" autocomplete="off" novalidate
                        (ngSubmit)="addDanhSachChuong(addChuongForm.value, 'modal-chuong')">

                        <input type="number" class="modal-input" formControlName="tenChuong"
                            placeholder="Số thứ tự chương...">
                        <br>
                        <input type="text" class="modal-input" formControlName="folderID"
                            placeholder="Folder Google Drive ID...">

                        <br>
                        <button [disabled]="btnSubmitLocked" class="admin-btn-orange">Thêm mới chương và thư mục hình ảnh</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div id="modal-update" class="modal hide">
        <div class="modal-main">
            <button class="btn modal-close-btn" (click)="closeModal('modal-update')">X</button>

            <h2>Danh sách chương</h2>
            <div class="modal-area">
                <div class="modal-col">
                    <ul class="modal-list">
                        <li *ngFor="let t of currentTruyen?.chuongs">
                            <br>
                            <p>ChuongID: <span>{{ t.chuongID }}</span></p>
                            <br>
                            <p>Tên chương: <span>{{ t.tenChuong }}</span></p>
                            <br>
                            <button (click)="showHinhAnh(t.chuongID)"  class="admin-btn-edit">Show hình ảnh</button>
                        </li>
                    </ul>
                </div>
                <div class="modal-col">
                    <div class="modal-no-image" *ngIf="noImageToShow">
                        <p>Chương này chưa có bất kỳ hình ảnh nào</p>
                    </div>
                    <ul class="modal-list space-between">
                        <li class="modal-item" *ngFor="let nd of noiDungChuongs">
                            <img class="modal-image" src="https://drive.google.com/uc?export=view&id={{ nd.hinhAnh }}">
                            <div [className]="nd.tinhTrang == true ? 'modal-overlay': 'modal-overlay hide'"
                                (click)="chooseHinhAnhForUpdate(nd)">
                                {{nd.tinhTrang}}
                                <p *ngIf="nd.tinhTrang == false">Ẩn hình ảnh này</p>
                                <p *ngIf="nd.tinhTrang == true">Bỏ ẩn</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <br>
            <h2>Bạn có muốn cập nhật lại nội dung chương?</h2>
            <button (click)="updateAllNoiDungChuong('modal-update')" [disabled]="btnSubmitLocked"  class="admin-btn-orange">Cập nhật lại toàn bộ nội dung
                chương</button>
        </div>
    </div>
</body>