<div class="body-box mar-top-20">
    <div class="title-header">
        <h2>Bình Luận Mới Nhất</h2>
    </div>
    <div class="chap__comment-panel">
        <ul class="comment-list">
            <li class="comment-item" *ngFor="let data of (binhLuanJson != undefined ? binhLuanJson : [].constructor(5))">
                <ng-container>
                    <div class="comment-b">
                        <div class="title-overflow pad-bot-10">
                            <div class="title-overflow-content txt-italic">
                                <app-seleton-loader *ngIf="!binhLuanJson" Cheight="25"></app-seleton-loader>

                                <a *ngIf="binhLuanJson" class="comment-link"
                                    routerLink="/story-detail/{{ data?.truyen?.truyenID }}">
                                    <b>{{ data?.truyen?.tenTruyen }}</b>
                                </a>
                                
                                <a *ngIf="binhLuanJson" class="comment-link"
                                    routerLink="/story-detail/{{ data?.chuong?.truyen.truyenID }}">
                                    <b>{{ data?.chuong?.truyen.tenTruyen }}</b>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="comment-b">
                        <ng-container *ngIf="data?.chuong">

                        </ng-container>
                        <a *ngIf="data?.chuong" class="comment-link" 
    
                        (click)="addToHistory(data?.chuong.truyen.truyenID, data?.chuong.truyen.tenTruyen,
                        data?.chuong.chuongID, data?.chuong.tenChuong, data?.chuong.truyen.hinhAnh)"
    
                        routerLink="/story-reading/{{ data?.chuong.truyen.truyenID }}/{{ data?.chuong.chuongID }}">
                        {{data?.chuong.tenChuong}}</a>
                        
                        <span *ngIf="binhLuanJson" >{{data?.ngayBL}}</span>
                    </div>
                    
                    <div class="comment-b">
                        <div class="comment-u-img">
                            <app-seleton-loader *ngIf="!binhLuanJson" Cheight="45"></app-seleton-loader>
                            <img *ngIf="binhLuanJson" loading="lazy" data-src="assets/images/avatar/{{ data?.user.hinhAnh }}" alt="no image avaiable">
                        </div>
                        <div class="comment-des">
                            <div class="comment-des-container">
                                <app-seleton-loader *ngIf="!binhLuanJson" Cheight="20"></app-seleton-loader>
                                <div *ngIf="binhLuanJson" class="comment-des-title">
                                    <p class="comment-name">{{data?.user.username}}</p>
                                </div>
                                <app-seleton-loader *ngIf="!binhLuanJson" Cheight="20"></app-seleton-loader>
                                <div *ngIf="binhLuanJson" class="comment-des-content">
                                    <div [innerHTML]="data?.noiDung"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </li>
        </ul>
    </div>
</div>