<!--Pagination-->
<div class="pagination-container">
    <app-seleton-loader *ngIf="!pagingHeaderData" Cwidth="100%"></app-seleton-loader>
    <div *ngIf="pagingHeaderData" id="pagination" class="pagination">
        <a (click)="refreshStoryList(false)">&laquo;</a>
        <ng-container *ngFor="let i of numbers; let _i = index">
            <a class="pag-link" (click)="refreshStoryList(i)" [class.current]="i == currentPage">{{ i }}</a>
        </ng-container>
        <a (click)="refreshStoryList(true)">&raquo;</a>
    </div>
</div>
<!--End Pagination-->