<!--Header Menu-->
<app-navbar [theLoaiJson]="jsonTheLoaiArr"></app-navbar>
<!--End Header Menu-->

<body>
    <!--Login Area-->
    <main>
        <div class="main-container container-fluid">
            <div class="banner-container">
                <div class="banner"></div>
            </div>
            <div class="wrapper">
                <div class="form-wrapper">
                    <div class="form-container">
                        <div class="slide-controls">
                            <input type="radio" name="slide" id="login" checked>
                            <input type="radio" name="slide" id="signup">
                            <label for="login" class="slide login">Đăng nhập</label>
                            <label for="signup" class="slide signup">Đăng ký</label>
                            <div class="slider-tab"></div>
                        </div>
                        <div class="form-inner">
                            <!--Sign In-->
                            <form class="login" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                                <div class="field">
                                    <input type="email" id="username" name="tenuser" ngModel class="form-control"
                                        placeholder="Tên đăng nhập..." required autofocus>
                                </div>
                                <div class="field">
                                    <input type="password" id="password" name="password" ngModel class="form-control"
                                        placeholder="Mật khẩu..." required>
                                </div>
                                <div *ngIf="invalidLogin" class="alert alert-danger">Tên đăng nhập hoặc mật khẩu không khớp.</div>
                                <div class="pass-link">
                                    <a href="#">Quên mật khẩu?</a>
                                </div>
                                <div class="field btn">
                                    <div class="btn-layer"></div>
                                    <input type="submit" value="Đăng nhập">
                                </div>
                                <div class="signup-link">Chưa có tài khoản? <a href="">Đăng ký ngay</a></div>
                            </form>
                            <!--End Sign In-->
                            
                            <!--Sign Up-->
                            <form action="#" class="signup">
                                <div class="field">
                                    <input type="text" placeholder="Email của bạn..." required>
                                </div>
                                <div class="field">
                                    <input type="password" placeholder="Mật khẩu..." required>
                                </div>
                                <div class="field">
                                    <input type="password" placeholder="Xác nhận mật khẩu..." required>
                                </div>
                                <div class="field btn">
                                    <div class="btn-layer"></div>
                                    <input type="submit" value="Đăng ký">
                                </div>
                            </form>
                            <!--End Sign Up-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Dark mode button-->
        <div class="theme-switch-area">
          <div class="theme-icon-container dark-mode">
            <button id="theme-switch-btn" class="theme-btn"></button>
          </div>
        </div>
        <!--End dark mode button-->
    </main>
    <!--End Login Area-->

    <!--Footer-->
    <app-footer></app-footer>
    <!--End Footer-->
</body>