<!--Header Menu-->
<header class="header container-fluid">
  <nav class="nav">
    <ul id="top__nav" class="nav__list">
      <li class="nav__item">
        <a class="nav__link logo" routerLink="/index">
          <img src="assets/images/nav-logo.png" alt="no image avaiable">
        </a>
      </li>
      <li class="nav__item">
        <a id="catagory-dropdown" class="nav__link">
          <div class="toggle__button">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div>
        </a>
      </li>
      <li class="nav__item">

        <div class="menu-panel">
          <div class="sep">
            <a class="nav__link n-highL">
              Danh mục
            </a>
            <div class="catagory-content">
              <ul class="catagory-list">
                <li class="catagory-item" *ngFor="let theloai of theLoaiJson">
                  <a routerLink="/category/{{ theloai.theLoaiID }}">{{ theloai.tenTheLoai }}</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="sep">
            <a class="nav__link n-highL" routerLink="/following">Theo Dõi</a>
          </div>
          <div class="sep">
            <a class="nav__link n-highL" routerLink="/history">Lịch sử</a>
          </div>
          <div class="sep" *ngIf="!isLoggedIn">
            <a class="nav__link n-highL" routerLink="/authentication/login">Đăng nhập</a>
          </div>
          <div class="sep" *ngIf="isLoggedIn">
            <a class="nav__link n-highL" routerLink="/account">Tài khoản</a>
          </div>
          <div class="sep">
            <div class="search__panel">
              <form class="search__box">
                <div class="search__outer">
                  <div class="search__box-input">
                    <input (input)="filterOnSearch($event.target.value)" type="text" placeholder="Tìm kiếm...">
                  </div>
                  <div class="icon">
                    <img src="assets/images/loupe.svg" class="search-icon" alt="no image avaiable">
                  </div>
                </div>
                <div class="search__result" *ngIf="filterTruyenResult?.length > 0">
                  <ul class="search__result--list">
                    <li class="search__result--item" *ngFor="let res of filterTruyenResult">
                      <a routerLink="/story-detail/{{ res.truyenID }}">
                        <div class="search__result--box">
                          <img src="https://drive.google.com/uc?export=view&id={{res.hinhAnh}}">
                          <div class="search__result--title">
                            <b>{{ res.tenTruyen }}</b>
                            <p>Đọc ngay</p>
                          </div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </form>
            </div>
          </div>
        </div>

      </li>
      <!-- <li class="nav__item"><a class="nav__link n-highL" routerLink="/following">Theo Dõi</a></li>
      <li class="nav__item"><a class="nav__link n-highL" routerLink="/history">Lịch sử</a></li>
      <li class="nav__item" *ngIf="checkLogedIn() == false"><a class="nav__link n-highL" routerLink="/login">Đăng nhập</a></li>
      <li class="nav__item" *ngIf="checkLogedIn() == true"><a class="nav__link n-highL" routerLink="/account">Tài khoản</a></li>
      <li class="nav__item">
        <form class="search__box">
          <div class="search__box-input border_bottom">
            <input (input)="filterOnSearch($event)" type="text" placeholder="Tìm kiếm...">
          </div>
          <div class="icon border_bottom">
            <img src="assets/images/loupe.svg" class="search-icon" alt="no image avaiable">
          </div>
        </form>
      </li> -->
    </ul>
  </nav>
</header>
<!--End Header Menu-->
