<body>
    <main>
        <div class="main__container container-fluid">
            <div class="banner__container">
                <div class="banner"></div>
            </div>
            <div class="body__container">
                <div class="body__cover">

                    <!--Section bên trái-->
                    <div class="body__cover--left right-padding">
                        <!--Danh sách truyện-->
                        <div class="body__box">
                            <div class="title-header">
                                <h2>Tài khoản</h2>
                            </div>
                            <div class="body__cover">
                                <div class="pc-tab">
                                    <input checked="checked" id="tab1" type="radio" name="pct" />
                                    <input id="tab2" type="radio" name="pct" />
                                    <input id="tab3" type="radio" name="pct" />
                                    <input id="tab4" type="radio" name="pct" />
                                    <input id="tab5" type="radio" name="pct" />
                                    <input id="tab6" type="radio" name="pct" />
                                    <div class="tab-col">
                                        <nav>
                                            <ul class="tab-list">
                                                <li class="tab-item tab1">
                                                    <label for="tab1">Thông tin tài khoản</label>
                                                </li>
                                                <li class="tab-item tab2">
                                                    <label for="tab2">Thông tin chung</label>
                                                </li>
                                                <li class="tab-item tab3">
                                                    <label for="tab3">Truyện theo dõi</label>
                                                </li>
                                                <li class="tab-item tab4">
                                                    <label for="tab4">Bình luận</label>
                                                </li>
                                                <li class="tab-item tab5">
                                                    <label for="tab5">Đổi mật khẩu</label>
                                                </li>
                                                <li class="tab-item tab6">
                                                    <label for="tab6">Đăng xuất</label>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <section class="tab-col">
                                        <div class="tab-content tab1">
                                            <h2>Thông tin tài khoản</h2>
                                            <p>Họ: {{user?.lastName}}</p>
                                            <p>Tên: {{user?.firstName}}</p>
                                            <p>Email: {{user?.email}}</p>
                                        </div>
                                        <div class="tab-content tab2">
                                            <h2>Thông tin chung</h2>
                                            <br>
                                            <div *ngIf="user && user?.hinhAnh">
                                                <h3>Avatar của bạn</h3>
                                                <img id="user-data" loading="lazy"
                                                    data-src="assets/images/avatar/{{ user.hinhAnh }}">
                                            </div>
                                            <p *ngIf="!user || !user?.hinhAnh">Bạn chưa có avatar, vui lòng chọn một trong các
                                                hình dưới đây nhé!</p>
                                            <br>
                                            <h3>Bạn có thể thay đổi avatar của mình bằng một trong các hình dưới đây:
                                            </h3>
                                            <div class="img-form">
                                                <div class="img-list">
                                                    <button (click)="setCurrentAvatar('cat-lie.png')">
                                                        <img class="img" loading="lazy"
                                                            data-src="assets/images/avatar/cat-lie.png">
                                                    </button>
                                                    <button (click)="setCurrentAvatar('panda-eat.png')">
                                                        <img class="img" loading="lazy"
                                                            data-src="assets/images/avatar/panda-eat.png">
                                                    </button>
                                                    <button (click)="setCurrentAvatar('panda-lie.png')">
                                                        <img class="img" loading="lazy"
                                                            data-src="assets/images/avatar/panda-lie.png">
                                                    </button>
                                                    <button (click)="setCurrentAvatar('fox-hello.png')">
                                                        <img class="img" loading="lazy"
                                                            data-src="assets/images/avatar/fox-hello.png">
                                                    </button>
                                                    <button (click)="setCurrentAvatar('chicken-hello.png')">
                                                        <img class="img" loading="lazy"
                                                            data-src="assets/images/avatar/chicken-hello.png">
                                                    </button>
                                                    <button (click)="setCurrentAvatar('cow-eat.png')">
                                                        <img class="img" loading="lazy"
                                                            data-src="assets/images/avatar/cow-eat.png">
                                                    </button>
                                                </div>
                                                <button class="save-avatar-btn" type="submit" (click)="updateAvatar()"
                                                    [disabled]="btnSubmitLocked">Lưu ảnh đại diện</button>
                                            </div>
                                        </div>
                                        <div class="tab-content tab3">
                                            <h2>Truyện đang theo dõi</h2>
                                            <ng-container *ngIf="user?.theoDois">
                                                <ul class="fol-list">
                                                    <li class="fol-item" *ngFor="let data of user?.theoDois">
                                                        <a
                                                            routerLink="/details/story-detail/{{ data.truyen.truyenID }}">
                                                            <img class="img" loading="lazy"
                                                                data-src="https://drive.google.com/uc?export=view&id={{ data.truyen.hinhAnh }}">
                                                        </a>
                                                        <a
                                                            routerLink="/details/story-detail/{{ data.truyen.truyenID }}">
                                                            <p class="fol-name">{{ data.truyen.tenTruyen }}</p>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </ng-container>
                                            <ng-container *ngIf="!user?.theoDois">
                                                <p>Rất tiếc, bạn chưa theo dõi truyện nào!</p>
                                            </ng-container>
                                        </div>
                                        <div class="tab-content tab4">
                                            <h2>Bình luận mà bạn đã đăng</h2>

                                            <ng-container *ngIf="user?.binhLuans">
                                                <!--Timeline-->
                                                <div class="timeline-area">
                                                    <div class="timeline">
                                                        <div class="timeline-item" *ngFor="let data of user?.binhLuans">
                                                            <span class="bounce-btn"></span>
                                                            <div class="timeline-txt impor" *ngIf="data?.truyen">
                                                                <h3 class="timeline-title">{{ data?.truyen.tenTruyen }}
                                                                </h3>
                                                                <!-- <h4 class="timeline-sup">{{ data.chuong.tenChuong }}</h4> -->
                                                                <div class="timeline-content"
                                                                    [innerHTML]="data?.noiDung"></div>
                                                            </div>
                                                            <div class="timeline-txt impor" *ngIf="data?.chuong">
                                                                <h3 class="timeline-title">{{
                                                                    data?.chuong.truyen.tenTruyen }}</h3>
                                                                <h4 class="timeline-sup">{{ data?.chuong.tenChuong }}
                                                                </h4>
                                                                <div class="timeline-content"
                                                                    [innerHTML]="data.noiDung"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--End Timeline-->
                                            </ng-container>

                                            <ng-container *ngIf="!user?.binhLuans">
                                                <p>Bạn chưa có bình luận nào. Hãy tích cực tham gia bình luận nhé!</p>
                                            </ng-container>
                                        </div>
                                        <div class="tab-content tab5">
                                            <h2>Đổi mật khẩu</h2>
                                            <div class="form__wrapper">
                                                <!--Reset form-->
                                                <div class="form__container">
                                                    <div class="error alert alert-danger" *ngIf="errorMessage"
                                                        role="alert">{{ errorMessage.error.errorMessage }}</div>

                                                    <div class="form-container">
                                                        <div class="form-inner">
                                                            <form [formGroup]="updatePasswordForm" autocomplete="off"
                                                                novalidate
                                                                (ngSubmit)="updatePassword(updatePasswordForm.value)">
                                                                <div class="field">
                                                                    <label for="password"
                                                                        class="col-form-label col-sm-2">Mật khẩu
                                                                        cũ</label>
                                                                    <div class="form-field">
                                                                        <input type="password" id="oldpassword"
                                                                            formControlName="oldpassword"
                                                                            class="form-control"
                                                                            placeholder="Mật khẩu cũ" />
                                                                    </div>
                                                                    <div class="form-field">
                                                                        <em
                                                                            *ngIf="validateControl('oldpassword') && hasError('oldpassword', 'required')">*Vui
                                                                            lòng không để trống</em>
                                                                    </div>
                                                                </div>
                                                                <div class="field">
                                                                    <label for="password"
                                                                        class="col-form-label col-sm-2">Mật khẩu
                                                                        mới</label>
                                                                    <div class="form-field">
                                                                        <input type="password" id="password"
                                                                            formControlName="password"
                                                                            class="form-control"
                                                                            placeholder="Mật khẩu mới" />
                                                                    </div>
                                                                    <div class="form-field">
                                                                        <em
                                                                            *ngIf="validateControl('password') && hasError('password', 'required')">*Vui
                                                                            lòng không để trống</em>
                                                                    </div>
                                                                </div>
                                                                <div class="field">
                                                                    <label for="confirm"
                                                                        class="col-form-label col-sm-2">Xác nhận mật
                                                                        khẩu mới</label>
                                                                    <div class="form-field">
                                                                        <input type="password" id="confirm"
                                                                            formControlName="confirm"
                                                                            class="form-control"
                                                                            placeholder="Xác nhận mật khẩu mới" />
                                                                    </div>
                                                                    <div class="form-field">
                                                                        <em
                                                                            *ngIf="validateControl('confirm') && hasError('confirm', 'required')">*Vui
                                                                            lòng không để trống</em>
                                                                        <em *ngIf="hasError('confirm', 'mustMatch')">Mật
                                                                            khẩu xác nhận không khớp</em>
                                                                    </div>
                                                                </div>
                                                                <br>
                                                                <div class="field btn">
                                                                    <div class="btn-layer"></div>
                                                                    <button type="submit" class="btn btn-info"
                                                                        [disabled]="!updatePasswordForm.valid || btnSubmitLocked">Đặt
                                                                        lại mật khẩu</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--End Reset Form-->
                                            </div>
                                        </div>
                                        <div class="tab-content tab6">
                                            <h2>Bạn có muốn đăng xuất tài khoản?</h2>
                                            <button class="logout-btn" (click)="logoutClick()">Đăng xuất</button>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <!--End Danh sách truyện-->
                    </div>
                    <!--End Section bên trái-->


                    <!--Section bên phải (side-bar)-->
                    <div class="body__cover--right left-padding">
                        <!--Rank List-->
                        <app-ranking [truyenRanks]="truyensTopView"></app-ranking>
                        <!--End Rank List-->

                        <!--Comment-->
                        <app-comment-sidebar [binhLuans]="binhLuans"></app-comment-sidebar>
                        <!--End Comment-->
                    </div>
                    <!--End Side-bar-->
                </div>
            </div>
        </div>
    </main>
    <div *ngIf="!user" class="overlay-process">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
</body>