<body>
    <main>
        <div class="main__container container-fluid">
            <div class="banner__container">
                <div class="banner img-fade"></div>
            </div>
            <div class="body__container">
                <div class="body__cover">
                    <div class="overlay__panel">
                        <div class="body__box">

                            <!--Section thông tin cơ bản của truyện-->
                            <div class="box__container">
                                <div class="panel__side">
                                    <app-seleton-loader *ngIf="!truyenDetailJson" Cwidth="100%" Cheight="300">
                                    </app-seleton-loader>
                                    <img *ngIf="truyenDetailJson" class="lazyload"
                                        data-src="https://drive.google.com/uc?export=view&id={{truyenDetailJson?.hinhAnh}}"
                                        alt="no image avaiable">
                                </div>
                                <div class="panel__side">
                                    <app-seleton-loader *ngIf="!truyenDetailJson" Cwidth="100%" Cheight="20"
                                        Cmargin="0 0 20px 0" circle="20px"></app-seleton-loader>
                                    <div *ngIf="truyenDetailJson" class="truyen__detail-title">
                                        <h1>{{ truyenDetailJson?.tenTruyen }}</h1>
                                    </div>

                                    <app-seleton-loader *ngIf="!truyenDetailJson" Cwidth="100%" Cheight="20"
                                        Cmargin="0 0 20px 0" circle="20px"></app-seleton-loader>
                                    <div *ngIf="truyenDetailJson" class="box__detail">
                                        <div class="box__detail-txt">
                                            <p>Tác giả: <span>{{ truyenDetailJson?.tacGia.tenTacGia }}</span></p>
                                        </div>
                                        <div class="box__detail-txt">
                                            <p>Tình trạng：<span>Đang Tiến Hành</span></p>
                                        </div>
                                    </div>

                                    <app-seleton-loader *ngIf="!truyenDetailJson" Cwidth="100%" Cheight="20"
                                        Cmargin="0 0 20px 0" circle="20px"></app-seleton-loader>
                                    <div *ngIf="truyenDetailJson" class="box__detail">
                                        <div class="box__detail-txt">
                                            <p>Lượt xem: <span>{{ tongLuotXem }}</span></p>
                                        </div>
                                        <div class="box__detail-txt">
                                            <p>Thể loại:
                                                <span *ngFor="let p of phuLucJson; let l = last">
                                                    <a>{{ p.theLoai.tenTheLoai }}</a>
                                                    <span *ngIf="!l"> - </span>
                                                </span>
                                            </p>
                                        </div>
                                    </div>

                                    <app-seleton-loader *ngIf="!truyenDetailJson" Cwidth="100%" Cheight="20"
                                        Cmargin="0 0 20px 0" circle="20px"></app-seleton-loader>
                                    <div *ngIf="truyenDetailJson" class="box__detail">
                                        <div class="box__detail-txt">
                                            <p>Lượt theo dõi: <span>71.000</span></p>
                                        </div>
                                        <div class="box__detail-txt">
                                            <div>
                                                <span>Đánh giá: </span>
                                                <span class="star"><img loading="lazy"
                                                        data-src="assets/images/star-on.png"
                                                        alt="no image avaiable"></span>
                                                <span class="star"><img loading="lazy"
                                                        data-src="assets/images/star-on.png"
                                                        alt="no image avaiable"></span>
                                                <span class="star"><img loading="lazy"
                                                        data-src="assets/images/star-on.png"
                                                        alt="no image avaiable"></span>
                                                <span class="star"><img loading="lazy"
                                                        data-src="assets/images/star-on.png"
                                                        alt="no image avaiable"></span>
                                                <span class="star"><img loading="lazy"
                                                        data-src="assets/images/star-on.png"
                                                        alt="no image avaiable"></span>
                                                <span> 3.5</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box__detail">
                                        <div class="btn__group">
                                            <app-seleton-loader *ngIf="!truyenDetailJson" Cwidth="50" Cheight="35"
                                                circle="20px"></app-seleton-loader>
                                            <button *ngIf="truyenDetailJson" class="btn-social" (click)="addFollowing()">Theo Dõi</button>
                                            <app-seleton-loader *ngIf="!truyenDetailJson" Cwidth="50" Cheight="35"
                                                circle="20px"></app-seleton-loader>
                                            <button *ngIf="truyenDetailJson" class="btn-social">Like</button>
                                            <app-seleton-loader *ngIf="!truyenDetailJson" Cwidth="50" Cheight="35"
                                                circle="20px"></app-seleton-loader>
                                            <button *ngIf="truyenDetailJson" class="btn-social">Share</button>
                                        </div>
                                    </div>
                                    <div class="box__detail">
                                        <div class="btn__group">
                                            <app-seleton-loader *ngIf="!truyenDetailJson" Cwidth="100" Cheight="35"
                                                circle="20px"></app-seleton-loader>
                                            <button *ngIf="truyenDetailJson" class="btn-reading btn-social"
                                                (click)="addToHistory(truyenDetailJson?.truyenID, truyenDetailJson?.tenTruyen,
                                                truyenDetailJson?.chuongs[0].chuongID, truyenDetailJson?.chuongs[0].tenChuong, truyenDetailJson?.hinhAnh)">Đọc từ đầu</button>
                                            <app-seleton-loader *ngIf="!truyenDetailJson" Cwidth="100" Cheight="35"
                                                circle="20px"></app-seleton-loader>
                                            <button *ngIf="truyenDetailJson" class="btn-reading btn-social"
                                                (click)="addToHistory(truyenDetailJson?.truyenID, truyeboxxnDetailJson?.tenTruyen,
                                                truyenDetailJson?.chuongs.slice(-1)[0].chuongID, truyenDetailJson?.chuongs.slice(-1)[0].tenChuong, truyenDetailJson?.hinhAnh)">Đọc
                                                mới nhất</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End section thông tin cơ bản của truyện-->

                            <!--Section nội dung truyện-->
                            <div class="box__container block">
                                <div class="box__container--header">
                                    <h2>Nội Dung</h2>
                                </div>
                                <hr>
                                <div class="box__detail--content">
                                    <div class="content">
                                        <p class="js-excerpt excerpt-hidden" [innerHTML]="truyenDetailJson?.moTa">
                                        </p>
                                    </div>
                                    <a role="button" class="js-show-more">
                                        <span id="expand-text">Xem thêm</span>
                                        <!-- <i class="fa fa-angle-right"></i> -->
                                    </a>
                                </div>
                            </div>
                            <!--End section mô tả nội dung truyện-->

                            <!--Section danh sách chương-->
                            <div class="box__container block">
                                <h2>Danh Sách Chương</h2>
                                <hr>
                                <div class="chap__list--container">
                                    <div class="chap__list--header">
                                        <div class="chap__list--heading">
                                            <p>Số chương</p>
                                        </div>
                                        <div class="chap__list--heading">
                                            <p>Cập nhật</p>
                                        </div>
                                        <div class="chap__list--heading">
                                            <p>Lượt xem</p>
                                        </div>
                                    </div>
                                    <ul id="chap__list" class="chap__list">
                                        <li class="chap__list--item" *ngFor="let chuong of truyenDetailJson?.chuongs">
                                            <p class="chap__list--txt">
                                                <a class="chap__list--link" (click)="addToHistory(chuong?.truyenID, truyenDetailJson?.tenTruyen,
                                                chuong?.chuongID, chuong?.tenChuong, truyenDetailJson?.hinhAnh)">
                                                    {{chuong.tenChuong }}
                                                </a>
                                            </p>
                                            <p class="chap__list--txt">{{ chuong.thoiGianCapNhat | date: 'dd/MM/yyyy' }}</p>
                                            <p class="chap__list--txt">{{ chuong.luotXem }}</p>
                                        </li>
                                    </ul>
                                    <div class="expand-bottom">
                                        <button id="expand-chap-cover">Xem thêm</button>
                                    </div>
                                </div>
                            </div>
                            <!--End section danh sách chương-->

                            <!--Section Bình luận-->
                            <app-comment-list [jsonBinhLuan]="jsonBinhLuanArr" [jsonTruyen]="truyenDetailJson"
                                [isDetail]="true"></app-comment-list>
                            <!--End section bình luận-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>