@import "../../../../assets/styles/icon.scss";
@import "../../../../assets/styles/func.scss";
@import "../../../../assets/styles/var.scss";

.body-cover {
  .overlay__panel {
    @include SetWidthHeight(100%, 100%);
    // padding-left: 40px;
    // padding-right: 40px;
    position: relative;

    @media (max-width: 599px) {
      padding-left: 10px;
      padding-right: 10px;
    }

    .body-box {
      @include SetWidthHeight(100%, 100%);
      border-radius: 20px;
      z-index: 2;
      margin-top: -450px;

      .box-container {
        @include SetWidthHeight(100%, auto);
        @include Flex($isHorizontally: false, $isVertically: false, $isWrap: true);
        padding-bottom: 20px;

        .panel-side:first-child {
          @include SetWidthHeight(250px, auto);

          @media (max-width: 799px) {
            @include SetWidthHeight(100%, auto);
            display: block;
          }

          .image-outer {
            @include SetWidthHeight(100%, 100%);
            padding-left: 20px;
            padding-right: 20px;

            img {
              @include SetWidthHeight(100%, 300px);
              border-radius: 10px;
              object-fit: cover;
              margin-top: -40px;
              box-shadow: 10px 10px 25px rgba(black, 0.2);

              @media (max-width: 799px) {
                @include SetWidthHeight(250px, auto);
              }
            }
          }
        }

        .panel-side:nth-child(2) {
          width: calc(100% - 250px);

          @media (max-width: 799px) {
            display: block;
            @include SetWidthHeight(100%, auto);
          }

          .truyen__detail-container {
            @include SetWidthHeight(100%, auto);
            padding: 20px;

            .truyen__detail-title {
              margin-bottom: 20px;
            }

            .truyen__detail-box {
              position: relative;
              @include Flex($isHorizontally: false, $isVertically: false, $isWrap: true);
              margin-top: 20px;

              .truyen__detail-txt {
                @include SetWidthHeight(50%, auto);
                font-size: 15px;
                line-height: 1.5;

                @media (max-width: 599px) {
                  @include SetWidthHeight(100%, auto);
                }

                &:nth-child(even) {
                  padding-left: 10px;

                  @media (max-width: 599px) {
                    padding-left: 0;
                    padding-top: 20px;
                  }
                }
              }
            }
          }
        }

        .story-content-panel {
          width: 100%;
          padding-left: 20px;
          padding-top: 20px;
          padding-right: 20px;

          .story-content-header {
            padding-bottom: 10px;
          }

          /*Nút read more cho nội dung*/
          .box__detail--content {
            .content {
              margin: 0;
              padding: 0;
              padding-bottom: 1rem;
              position: relative;
              padding-top: 20px;
              line-height: 1.2;
            }
          }

          .excerpt-hidden {
            max-height: 40px;
            overflow: hidden;
            position: relative;

            &:after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              @include SetWidthHeight(100%, 64px);
              // width: 100%;
              // height: 64px;
            }
          }

          .excerpt-visible {
            height: auto;
            // overflow: auto;
          }
          /*End nút read more*/
        }

        /*Danh sách chương*/
        .chap__list-container {
          @include SetWidthHeight(100%, auto);
          max-height: 550px;
          overflow-y: auto;
          //width: 100%;

          .chap__list-header {
            @include SetWidthHeight(100%, auto);
            @include Flex($isHorizontally: false, $isVertically: false, $isWrap: false);
            padding-top: 20px;
            padding-bottom: 15px;
            border: 1px dashed lightgrey;
            border-width: 0px 0px 1px 0px;

            .chap__list-heading {
              @include SetWidthHeight(50%, auto);
              padding-right: 5px;
              font-weight: bold;

              @media (max-width: 400px) {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
