<body>
    <!--Confirm Area-->
    <main>
        <div class="main-container container-fluid">
            <div class="banner-container">
                <div class="banner"></div>
            </div>
            <div class="wrapper">
                <!--Confirm form-->
                <div class="form-wrapper">

                    <h1 class="card-title">Bạn vui lòng kiểm tra mail và nhập mã xác nhận vào ô dưới:</h1>
                    <div *ngIf="showError" class="alert alert-danger" role="alert">
                        {{errorMessage}}
                    </div>
    
                    <div class="form-container">
                        <div class="form-inner">
                            <form [formGroup]="twoStepForm" autocomplete="off" novalidate (ngSubmit)="loginUser(twoStepForm.value)">
                                <div class="field">
                                    <label for="twoFactorCode" class="col-form-label col-sm-2">Mã xác nhận:</label>
                                    <div class="form-field">
                                        <input type="text" id="twoFactorCode" formControlName="twoFactorCode" class="form-control" />
                                    </div>
                                    <div class="form-field">
                                        <em *ngIf="validateControl('twoFactorCode') && hasError('twoFactorCode', 'required')">*Vui lòng không để trống</em>
                                    </div>
                                </div>
                                <br>
                                
                                <div class="field btn">
                                    <div class="btn-layer"></div>
                                    <button type="submit" class="btn btn-info" [disabled]="!twoStepForm.valid">Xác nhận</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--End Register Form-->
            </div>
        </div>

        <!--Dark mode button-->
        <div class="theme-switch-area">
            <div class="theme-icon-container dark-mode">
                <button id="theme-switch-btn" class="theme-btn"></button>
            </div>
        </div>
        <!--End dark mode button-->
    </main>
    <!--End Confirm Area-->
</body>