<div class="body-container">
  <div class="body-cover">
    <div class="body-box">
      <div class="title-header">
        <h2>Truyện đề cử</h2>
      </div>

      <!--Carousel-->
      <ng-container *ngIf="carouselJson">

        <div class="caro-body">
          <div id="splide" class="splide">
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide" *ngFor="let ca of carouselJson; let l = last">
                  {{l ? callCarousel(): null}}
                  <img loading="lazy" data-src="https://drive.google.com/uc?export=view&id={{ ca.hinhAnh }}">
                  <a class="caro-info" href="story-detail/ca.truyenID">
                    <b class="caro-txt">{{ ca.tenTruyen }}</b>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--End Carousel-->

      </ng-container>

    </div>
  </div>
</div>
