<body>
    <main>
        <div class="hero container-fluid">
            <div class="hero-main">
                <div class="hero-banner"></div>
            </div>
            <div class="hero-container">
                <div class="hero-body">

                    <!--Section bên trái-->
                    <div class="hero-body-left">
                        <!--Danh sách truyện-->
                        <app-story-list [truyens]="truyensByTheoDoi" [headingTitle]="title" [isFollowing]="true" 
                        (deleteFollowingItemEvent)="deleteFollowingItem($event)"
                        (reload)="reloadTruyenOnPag($event)">
                        </app-story-list>
                        <!--End Danh sách truyện-->
                    </div>
                    <!--End Section bên trái-->


                    <!--Section bên phải (side-bar)-->
                    <div class="hero-body-right">
                        <!--Rank List-->
                        <app-ranking [truyenRanks]="truyensTopView"></app-ranking>
                        <!--End Rank List-->

                        <!--Comment-->
                        <app-comment-sidebar [binhLuans]="binhLuans"></app-comment-sidebar>
                        <!--End Comment-->
                    </div>
                    <!--End Side-bar-->
                </div>
            </div>
        </div>
    </main>
    <div *ngIf="!userLoginID" class="overlay-process">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
    </div>
</body>