@import "./assets/styles/icon.scss";
@import "./assets/styles/func.scss";
@import "./assets/styles/general.scss";

/*Main Container*/
.main__container {
  .body__cover {
    .body__cover--left {
      @include SetWidthHeight(66.66666667%, auto);

      &.right-padding {
        padding-right: 5px;

        @media (max-width: 999px) {
          padding: 0 0 25px 0;
        }
      }

      @media (max-width: 999px) {
        @include SetWidthHeight(100%, auto);
      }
    }
    .body__cover--right {
      @include SetWidthHeight(33.33333333%, 100%);

      &.left-padding {
        padding-left: 5px;
      }

      @media (max-width: 999px) {
        @include SetWidthHeight(100%, auto);
      }
    }

    .body__box {
      @include SetWidthHeight(100%, auto);
      background-color: $white;
      @include theme() {
        color: theme-get("text-color");
        background-color: theme-get("bg-light-dark");
      }
      border-radius: 8px;
      margin-bottom: 20x;

      .title-header {
        @include SetWidthHeight(100%, 65px);
        padding: 20px;

        .btn-group {
          @include SetWidthHeight(100%, 100%);
          @include Flex($isHorizontally: false, $isVertically: false, $isWrap: false);

          .gr-btn {
            @include SetWidthHeight(33.33333333%, 100%);
            @include Flex($isHorizontally: true, $isVertically: true, $isWrap: true);

            &:first-child {
              padding-right: 5px;
            }
            &:last-child {
              padding-left: 5px;
            }

            .btn {
              @include SetWidthHeight(100%, 100%);
              @include noneOutLine($isNoneOutLine: true, $isNoneBorder: true);
              border-radius: 20px;
              //background-color: inherit;
              padding: 2px;
              font-size: 13px;
              text-align: center;

              @include theme() {
                color: theme-get("text-color");
                background-color: theme-get("bg-dark");
              }

              &.active {
                background-color: $green;
                color: $white;
              }

              @media (max-width: 399px) {
                font-size: 12px;
              }
            }
          }
        }
      }

      .body__list-container {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        @include SetWidthHeight(100%, auto);

        .list-area {
          @include SetWidthHeight(100%, auto);
          @include Flex($isHorizontally: false, $isVertically: false, $isWrap: true);

          .list-item {
            @include SetWidthHeight(25%, auto);
            display: block;
            float: left;
            padding: 5px;

            .image-box {
              @include SetWidthHeight(100%, 250px);
              .image-link {
                img {
                  @include SetWidthHeight(100%, 100%);
                  position: relative;
                  object-fit: cover;
                  border-radius: 3px;
                }
              }
            }

            & {
              @media (min-width: 520px) and (max-width: 767px) {
                @include SetWidthHeight(33.33333333%, auto);
              }

              @media (min-width: 350px) and (max-width: 519px) {
                @include SetWidthHeight(50%, auto);
              }

              @media (max-width: 349px) {
                @include SetWidthHeight(100%, auto);
              }
            }

            &:nth-child(4n + 1) {
              @media (min-width: 768px) {
                clear: both;
              }
            }

            &:nth-child(3n + 1) {
              @media (min-width: 520px) and (max-width: 767px) {
                clear: both;
              }
            }

            &:nth-child(2n + 1) {
              @media (min-width: 400px) and (max-width: 519px) {
                clear: both;
              }
            }

            &:nth-child(n + 1) {
              @media (max-width: 400px) {
                clear: both;
              }
            }
          }

          .list_info {
            @include SetWidthHeight(100%, auto);
            position: relative;
            display: block;
            margin-top: 10px;

            .newest-chapters {
              @include SetWidthHeight(100%, auto);
              margin-top: 10px;

              .chapter-link {
                @include theme() {
                  color: theme-get("text-color");
                }
                @include Flex($isHorizontally: false, $isVertically: false, $isWrap: false);
                margin-bottom: 5px;

                span {
                  font-size: 12px;
                  flex-direction: column;
                  line-height: 1.5;
                }

                span:first-child {
                  text-align: left;
                }

                span:last-child {
                  color: #c0c4d1;
                  text-align: right;
                  position: absolute;
                  right: 0;
                }
              }
            }
          }
        }
      }

      /*Phần Xếp hạng*/
      .story__ranking {
        @include SetWidthHeight(100%, auto);
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;

        .story__ranking-panel {
          @include SetWidthHeight(100%, 100%);

          .rank-list {
            @include SetWidthHeight(100%, auto);
            list-style: none;
            margin-top: 20px;
            display: block;

            .rank-item {
              height: 60px;
              margin-bottom: 30px;
            }

            .rank-b:first-child {
              @include Flex($isHorizontally: false, $isVertically: true, $isWrap: false);
              @include SetWidthHeight(35px, 100%);
              float: left;

              p {
                font-size: 18px;
              }
            }

            .rank-b:nth-child(2) {
              @include SetWidthHeight(55px, 100%);
              float: left;

              img {
                @include SetWidthHeight(100%, 100%);
                object-fit: cover;
                border-radius: 5px;
              }
            }

            .rank-b:last-child {
              width: calc(100% - 90px);
              height: 100%;
              float: left;
              padding-left: 15px;
              position: relative;

              .rank-info {
                @include SetWidthHeight(100%, auto);
                font-size: 14px;

                span {
                  @media (max-width: 360px) {
                    clear: both;
                    position: absolute;
                    bottom: 0;
                    left: 15px;
                  }

                  @media (min-width: 361px) {
                    float: right !important;
                  }
                }
              }
            }

            .rank-link {
              @include theme() {
                color: theme-get("text-color");
              }
            }
          }
        }
      }
      /*End Xếp hạng*/
    }
  }
}
/*End Main Container*/

.image-box {
  position: relative;

  .image-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    @include Flex($isHorizontally: false, $isVertically: false, $isWrap: false);
    justify-content: center;
    align-items: center;
    height: 35px;
    background: linear-gradient(rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.541));

    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      color: $white;

      span {
        padding-right: 5px;
      }
    }
  }
}


/*Toast message*/
#toast{
  position: fixed;
  top: 120px;
  right: 32px;
  z-index: 2;
}

.toast {
  margin-bottom: 20px;
  width: 300px;
  height: 80px;
  display: flex;
  align-items: center;
  border-radius: 7px;
  background: $white;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  @include theme() {
    color: theme-get("text-color");
    background-color: theme-get("bg-dark");
  }
  transition: all linear .3s;

  &.toast--success {
    border-left: 6px solid #47d864;

    svg {
      fill: #47d864;
    }
  }
  
  &.toast--error {
    border-left: 6px solid #FF623D;

    svg {
      fill: #FF623D;
    }
  }

  &.toast--warning{
    border-left: 6px solid #FFDC9F;

    svg{
      fill: #FFDC9F;
    }
  }

  &.toast--info{
    border-left: 6px solid #63AFD7;

    svg{
      fill: #63AFD7;
    }
  }

  .toast__icon {
    width: 30px;
    margin: 10px 0px 0px 15px;
  }

  .toast__body {
    //width: calc(100% - 80px);
    width: calc(100% - 30px);
    padding: 0px 15px 0px 15px;
    line-height: 1.5;

    .toast__title {
      font-size: 15px;
      font-weight: bold;
    }

    .toast__content {
      font-size: 13px;
    }
  }

  // .toast__btn {
  //   width: 50px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;

  //   .close__btn {
  //     border: none;
  //     outline: none;
  //     font-size: 17px;
  //     background: transparent;
  //     display: flex;
  //     align-items: center;

  //     svg {
  //       width: 15px;
  //       height: 15px;
  //     }
  //   }
  // }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% - 32px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
