@import "./func.scss";
@import "./var.scss";

h1 {
    font-size: 27px;
    line-height: 1.5;
}

h2 {
    font-size: 25px;
    line-height: 1.5;

    @media (max-width: 399px) {
        font-size: 20px;
    }
}

h3 {
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
}

button {
    cursor: pointer;
}

a {
    cursor: pointer;
    text-decoration: none;
    @include theme() {
        color: theme-get("text-color");
    }
}
