<router-outlet></router-outlet>
<div class="body__box">
  <div class="title-header">
    <h2>{{headingTitle}}</h2>
  </div>
  <div class="body__list-container">
    <div id="list-area" class="list-area">
      <!--Item-->
      <div class="list-item"  *ngFor="let data of (truyens ? truyens : [].constructor(20))">
        <div class="image-box">
          <a class="image-link" routerLink="/details/story-detail/{{ data?.truyenID }}">
            <app-seleton-loader *ngIf="!truyens" Cwidth="25%" Cheight="250"></app-seleton-loader>
            <img *ngIf="truyens" loading="lazy" data-src="https://drive.google.com/uc?export=view&id={{ data?.hinhAnh }}"
              alt="image not available">
          </a>
          <div *ngIf="isHistory == true && truyens" class="image-btn">
              <a (click)="callRefreshHistories(data?.truyenID)">
                  <span>&#10006;</span>
                  <span>Xóa</span>
              </a>
          </div>
          <div *ngIf="isFollowing == true && truyens" class="image-btn">
              <a (click)="callDeleteFollowingItem(data?.truyenID)">
                  <span>&#10006;</span>
                  <span>Xóa</span>
              </a>
          </div>
        </div>
        <div class="list_info">
          <app-seleton-loader *ngIf="!truyens" Cheight="20" Cwidth="100%"></app-seleton-loader>
          <a *ngIf="truyens" class="chapter-link" routerLink="/details/story-detail/{{ data?.truyenID }}"><h3>{{data?.tenTruyen}}</h3></a>
          
          <ngContainer *ngIf="isHistory == true">
            <div class="newest-chapters">
              <a *ngIf="truyens" class="chapter-link" routerLink="/details/story-reading/{{ data?.truyenID }}/{{ data?.chuongID }}">
                <span>Đọc tiếp</span>
                <span>{{ data?.tenChuong }}</span>
              </a>
            </div>
          </ngContainer>

          <ngContainer *ngIf="truyens && isHistory == false">
            <div class="newest-chapters" *ngFor="let chap of data?.chuongs.slice(-3).reverse()">
              <app-seleton-loader *ngIf="!truyens" Cwidth="100%"></app-seleton-loader>
              <a *ngIf="truyens" class="chapter-link"

              (click)="this.historyManagement.addToHistory(data?.truyenID,data?.tenTruyen, chap.chuongID, chap.tenChuong, data?.hinhAnh)" 

              routerLink="/details/story-reading/{{data?.truyenID }}/{{ chap.chuongID }}">
                <span>{{chap.tenChuong}}</span>
                <span>{{chap.thoiGianCapNhat | date: 'dd/MM/yyyy'}}</span>
              </a>
            </div>
          </ngContainer>
        </div>
      </div>
      <!--Item-->
    </div>

    <!--Pagination-->
    <app-pagination (refresh)="callReloadList($event)"></app-pagination>
    <!--End Pagination-->
  </div>
</div>
