.footer__container {
    background-color: #2f3031;
    color: white;

    hr{
        border: 1px solid #494949;
    }

    .footer__wrapper--above {
        padding: 70px 0px 70px 0px;
        width: 100%;
        display: flex;
        justify-content: center;

        @media (max-width: 700px) {
            padding: 20px 0px 20px 0px;
        }


        .footer__wrapper{
            max-width: 1500px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 40px;
            justify-content: space-between;
            padding: 20px;
        }

        .footer__wrapper--column {
            &:first-child {
                width: calc(50% - 40px);
            }
            &:nth-child(2) {
                width: calc(25% - 40px);
            }
            &:last-child {
                width: calc(25% - 40px);
            }

            a{
                color: white;
            }

            p {
                color: white;
                margin-top: 15px;
                font-size: 15px;
            }

            h2 {
                margin-bottom: 10px;
                font-size: 20px;
            }

            @media (max-width: 700px) {
                &:first-child,  &:nth-child(2),  &:last-child {
                    width: 100%;
                }
            }
        }
    }

    .footer__wrapper--below {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        
        &::before{
            content: "";
            left: 0;
            top: 0;
            position: absolute;
            height: 100%;
            width: 50vw;
            background-color: #3d3d3db9;
        }

        .footer__wrapper{
            max-width: 1500px;
            width: 100%;
            display: flex;
            padding: 20px;
        }

        .footer__wrapper--column {
            &:first-child {
                width: 50%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                z-index: 1;
            }
            &:last-child {
                width: 50%;
                text-align: right;
            }
        }

        .go-to-top {
            padding-right: 20px;
            svg {
                width: 30px;
                height: 30px;

                path {
                    fill: white;
                }
            }
        }
    }
}
