
  <!--Footer-->
  <footer>
    <div class="footer__container">
      <div class="footer__wrapper">
        <div class="footer-side">
          <ul class="footer-info-list">
            <li class="footer-info-item">
              <a>
                <div class="icon-box">
                  <div class="icon-item">
                    <img src="assets/images/phone-alt.svg" alt="no image avaiable">
                  </div>
                  <div class="icon-item">
                    <span>Zalo: 0908 432 456</span>
                  </div>
                </div>
              </a>
            </li>
            <li class="footer-info-item">
              <a>
                <div class="icon-box">
                  <div class="icon-item">
                    <img src="assets/images/viber.svg" alt="no image avaiable">
                  </div>
                  <div class="icon-item">
                    <span>Viber: 0908 432 456</span>
                  </div>
                </div>
              </a>
            </li>
            <li class="footer-info-item">
              <a>
                <div class="icon-box">
                  <div class="icon-item">
                    <img src="assets/images/mail-bulk.svg" alt="no image avaiable">
                  </div>
                  <div class="icon-item">
                    <span>unimozigroup@gmail.com</span>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-side">
          <div class="footer-content">
            <h5>Ranh Doc Truyen</h5>
          </div>
          <div class="footer-content">
            <div class="f-description">
              <p>Rảnh thì ghé web xem, không rảnh thì cũng ráng vào xem ủng hộ chúng mình nhé!</p>
              <p>Mong nhận được sự ủng hộ của bạn đọc.</p>
            </div>
          </div>
          <div class="social-gr-icon">
            <ul class="footer-info-list flex">
              <li class="footer-info-item">
                <a>
                  <div class="icon-box">
                    <div class="icon-item">
                      <img src="assets/images/facebook-f.svg" alt="no image avaiable">
                    </div>
                  </div>
                </a>
              </li>
              <li class="footer-info-item">
                <a>
                  <div class="icon-box">
                    <div class="icon-item">
                      <img src="assets/images/linkedin-in.svg" alt="no image avaiable">
                    </div>
                  </div>
                </a>
              </li>
              <li class="footer-info-item">
                <a>
                  <div class="icon-box">
                    <div class="icon-item">
                      <img src="assets/images/instagram.svg" alt="no image avaiable">
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--End Footer-->
